/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-odnoklassniki {
  background-color: hsl(31, 93%, 48%);
  border-color: transparent;
  color: #fff;
}
.button.is-odnoklassniki:hover, .button.is-odnoklassniki.is-hovered {
  background-color: hsl(31, 93%, 45.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-odnoklassniki:focus, .button.is-odnoklassniki.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-odnoklassniki:focus:not(:active), .button.is-odnoklassniki.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(31, 93%, 48%, 0.25);
}
.button.is-odnoklassniki:active, .button.is-odnoklassniki.is-active {
  background-color: hsl(31, 93%, 43%);
  border-color: transparent;
  color: #fff;
}
.button.is-odnoklassniki[disabled], fieldset[disabled] .button.is-odnoklassniki {
  background-color: hsl(31, 93%, 48%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-odnoklassniki.is-inverted {
  background-color: #fff;
  color: hsl(31, 93%, 48%);
}
.button.is-odnoklassniki.is-inverted:hover, .button.is-odnoklassniki.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-odnoklassniki.is-inverted[disabled], fieldset[disabled] .button.is-odnoklassniki.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(31, 93%, 48%);
}
.button.is-odnoklassniki.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-odnoklassniki.is-outlined {
  background-color: transparent;
  border-color: hsl(31, 93%, 48%);
  color: hsl(31, 93%, 48%);
}
.button.is-odnoklassniki.is-outlined:hover, .button.is-odnoklassniki.is-outlined.is-hovered, .button.is-odnoklassniki.is-outlined:focus, .button.is-odnoklassniki.is-outlined.is-focused {
  background-color: hsl(31, 93%, 48%);
  border-color: hsl(31, 93%, 48%);
  color: #fff;
}
.button.is-odnoklassniki.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(31, 93%, 48%) hsl(31, 93%, 48%) !important;
}
.button.is-odnoklassniki.is-outlined.is-loading:hover::after, .button.is-odnoklassniki.is-outlined.is-loading.is-hovered::after, .button.is-odnoklassniki.is-outlined.is-loading:focus::after, .button.is-odnoklassniki.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-odnoklassniki.is-outlined[disabled], fieldset[disabled] .button.is-odnoklassniki.is-outlined {
  background-color: transparent;
  border-color: hsl(31, 93%, 48%);
  box-shadow: none;
  color: hsl(31, 93%, 48%);
}
.button.is-odnoklassniki.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-odnoklassniki.is-inverted.is-outlined:hover, .button.is-odnoklassniki.is-inverted.is-outlined.is-hovered, .button.is-odnoklassniki.is-inverted.is-outlined:focus, .button.is-odnoklassniki.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(31, 93%, 48%);
}
.button.is-odnoklassniki.is-inverted.is-outlined.is-loading:hover::after, .button.is-odnoklassniki.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-odnoklassniki.is-inverted.is-outlined.is-loading:focus::after, .button.is-odnoklassniki.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(31, 93%, 48%) hsl(31, 93%, 48%) !important;
}
.button.is-odnoklassniki.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-odnoklassniki.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-odnoklassniki.is-light {
  background-color: hsl(31, 93%, 96%);
  color: hsl(31, 93%, 37%);
}
.button.is-odnoklassniki.is-light:hover, .button.is-odnoklassniki.is-light.is-hovered {
  background-color: hsl(31, 93%, 93.5%);
  border-color: transparent;
  color: hsl(31, 93%, 37%);
}
.button.is-odnoklassniki.is-light:active, .button.is-odnoklassniki.is-light.is-active {
  background-color: hsl(31, 93%, 91%);
  border-color: transparent;
  color: hsl(31, 93%, 37%);
}
.button.is-odnoklassniki.is-dark {
  background-color: hsl(31, 93%, 37%);
  color: #fff;
}
.button.is-odnoklassniki.is-dark:hover, .button.is-odnoklassniki.is-dark.is-hovered {
  background-color: hsl(31, 93%, 34.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-odnoklassniki.is-dark:active, .button.is-odnoklassniki.is-dark.is-active {
  background-color: hsl(31, 93%, 32%);
  border-color: transparent;
  color: #fff;
}

.has-text-odnoklassniki {
  color: hsl(31, 93%, 48%) !important;
}

a.has-text-odnoklassniki:hover, a.has-text-odnoklassniki:focus {
  color: hsl(31, 93%, 38%) !important;
}

.has-background-odnoklassniki {
  background-color: hsl(31, 93%, 48%) !important;
}

.has-text-odnoklassniki-light {
  color: hsl(31, 93%, 96%) !important;
}

a.has-text-odnoklassniki-light:hover, a.has-text-odnoklassniki-light:focus {
  color: hsl(31, 93%, 86%) !important;
}

.has-background-odnoklassniki-light {
  background-color: hsl(31, 93%, 96%) !important;
}

.has-text-odnoklassniki-dark {
  color: hsl(31, 93%, 37%) !important;
}

a.has-text-odnoklassniki-dark:hover, a.has-text-odnoklassniki-dark:focus {
  color: hsl(31, 93%, 47%) !important;
}

.has-background-odnoklassniki-dark {
  background-color: hsl(31, 93%, 37%) !important;
}

.no-animation {
  transition-property: none !important;
}