/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-twitter {
  background-color: hsl(202.8, 89.1%, 53.1%);
  border-color: transparent;
  color: #fff;
}
.button.is-twitter:hover, .button.is-twitter.is-hovered {
  background-color: hsl(202.8, 89.1%, 50.6%);
  border-color: transparent;
  color: #fff;
}
.button.is-twitter:focus, .button.is-twitter.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-twitter:focus:not(:active), .button.is-twitter.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(202.8, 89.1%, 53.1%, 0.25);
}
.button.is-twitter:active, .button.is-twitter.is-active {
  background-color: hsl(202.8, 89.1%, 48.1%);
  border-color: transparent;
  color: #fff;
}
.button.is-twitter[disabled], fieldset[disabled] .button.is-twitter {
  background-color: hsl(202.8, 89.1%, 53.1%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-twitter.is-inverted {
  background-color: #fff;
  color: hsl(202.8, 89.1%, 53.1%);
}
.button.is-twitter.is-inverted:hover, .button.is-twitter.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-twitter.is-inverted[disabled], fieldset[disabled] .button.is-twitter.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(202.8, 89.1%, 53.1%);
}
.button.is-twitter.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-twitter.is-outlined {
  background-color: transparent;
  border-color: hsl(202.8, 89.1%, 53.1%);
  color: hsl(202.8, 89.1%, 53.1%);
}
.button.is-twitter.is-outlined:hover, .button.is-twitter.is-outlined.is-hovered, .button.is-twitter.is-outlined:focus, .button.is-twitter.is-outlined.is-focused {
  background-color: hsl(202.8, 89.1%, 53.1%);
  border-color: hsl(202.8, 89.1%, 53.1%);
  color: #fff;
}
.button.is-twitter.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(202.8, 89.1%, 53.1%) hsl(202.8, 89.1%, 53.1%) !important;
}
.button.is-twitter.is-outlined.is-loading:hover::after, .button.is-twitter.is-outlined.is-loading.is-hovered::after, .button.is-twitter.is-outlined.is-loading:focus::after, .button.is-twitter.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-twitter.is-outlined[disabled], fieldset[disabled] .button.is-twitter.is-outlined {
  background-color: transparent;
  border-color: hsl(202.8, 89.1%, 53.1%);
  box-shadow: none;
  color: hsl(202.8, 89.1%, 53.1%);
}
.button.is-twitter.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-twitter.is-inverted.is-outlined:hover, .button.is-twitter.is-inverted.is-outlined.is-hovered, .button.is-twitter.is-inverted.is-outlined:focus, .button.is-twitter.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(202.8, 89.1%, 53.1%);
}
.button.is-twitter.is-inverted.is-outlined.is-loading:hover::after, .button.is-twitter.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-twitter.is-inverted.is-outlined.is-loading:focus::after, .button.is-twitter.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(202.8, 89.1%, 53.1%) hsl(202.8, 89.1%, 53.1%) !important;
}
.button.is-twitter.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-twitter.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-twitter.is-light {
  background-color: hsl(202.8, 89.1%, 96%);
  color: hsl(202.8, 89.1%, 37%);
}
.button.is-twitter.is-light:hover, .button.is-twitter.is-light.is-hovered {
  background-color: hsl(202.8, 89.1%, 93.5%);
  border-color: transparent;
  color: hsl(202.8, 89.1%, 37%);
}
.button.is-twitter.is-light:active, .button.is-twitter.is-light.is-active {
  background-color: hsl(202.8, 89.1%, 91%);
  border-color: transparent;
  color: hsl(202.8, 89.1%, 37%);
}
.button.is-twitter.is-dark {
  background-color: hsl(202.8, 89.1%, 37%);
  color: #fff;
}
.button.is-twitter.is-dark:hover, .button.is-twitter.is-dark.is-hovered {
  background-color: hsl(202.8, 89.1%, 34.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-twitter.is-dark:active, .button.is-twitter.is-dark.is-active {
  background-color: hsl(202.8, 89.1%, 32%);
  border-color: transparent;
  color: #fff;
}

.has-text-twitter {
  color: hsl(202.8, 89.1%, 53.1%) !important;
}

a.has-text-twitter:hover, a.has-text-twitter:focus {
  color: hsl(202.8, 89.1%, 43.1%) !important;
}

.has-background-twitter {
  background-color: hsl(202.8, 89.1%, 53.1%) !important;
}

.has-text-twitter-light {
  color: hsl(202.8, 89.1%, 96%) !important;
}

a.has-text-twitter-light:hover, a.has-text-twitter-light:focus {
  color: hsl(202.8, 89.1%, 86%) !important;
}

.has-background-twitter-light {
  background-color: hsl(202.8, 89.1%, 96%) !important;
}

.has-text-twitter-dark {
  color: hsl(202.8, 89.1%, 37%) !important;
}

a.has-text-twitter-dark:hover, a.has-text-twitter-dark:focus {
  color: hsl(202.8, 89.1%, 47%) !important;
}

.has-background-twitter-dark {
  background-color: hsl(202.8, 89.1%, 37%) !important;
}

.no-animation {
  transition-property: none !important;
}