/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-soundcloud {
  background-color: hsl(20, 100%, 50%);
  border-color: transparent;
  color: #fff;
}
.button.is-soundcloud:hover, .button.is-soundcloud.is-hovered {
  background-color: hsl(20, 100%, 47.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-soundcloud:focus, .button.is-soundcloud.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-soundcloud:focus:not(:active), .button.is-soundcloud.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(20, 100%, 50%, 0.25);
}
.button.is-soundcloud:active, .button.is-soundcloud.is-active {
  background-color: hsl(20, 100%, 45%);
  border-color: transparent;
  color: #fff;
}
.button.is-soundcloud[disabled], fieldset[disabled] .button.is-soundcloud {
  background-color: hsl(20, 100%, 50%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-soundcloud.is-inverted {
  background-color: #fff;
  color: hsl(20, 100%, 50%);
}
.button.is-soundcloud.is-inverted:hover, .button.is-soundcloud.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-soundcloud.is-inverted[disabled], fieldset[disabled] .button.is-soundcloud.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(20, 100%, 50%);
}
.button.is-soundcloud.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-soundcloud.is-outlined {
  background-color: transparent;
  border-color: hsl(20, 100%, 50%);
  color: hsl(20, 100%, 50%);
}
.button.is-soundcloud.is-outlined:hover, .button.is-soundcloud.is-outlined.is-hovered, .button.is-soundcloud.is-outlined:focus, .button.is-soundcloud.is-outlined.is-focused {
  background-color: hsl(20, 100%, 50%);
  border-color: hsl(20, 100%, 50%);
  color: #fff;
}
.button.is-soundcloud.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(20, 100%, 50%) hsl(20, 100%, 50%) !important;
}
.button.is-soundcloud.is-outlined.is-loading:hover::after, .button.is-soundcloud.is-outlined.is-loading.is-hovered::after, .button.is-soundcloud.is-outlined.is-loading:focus::after, .button.is-soundcloud.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-soundcloud.is-outlined[disabled], fieldset[disabled] .button.is-soundcloud.is-outlined {
  background-color: transparent;
  border-color: hsl(20, 100%, 50%);
  box-shadow: none;
  color: hsl(20, 100%, 50%);
}
.button.is-soundcloud.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-soundcloud.is-inverted.is-outlined:hover, .button.is-soundcloud.is-inverted.is-outlined.is-hovered, .button.is-soundcloud.is-inverted.is-outlined:focus, .button.is-soundcloud.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(20, 100%, 50%);
}
.button.is-soundcloud.is-inverted.is-outlined.is-loading:hover::after, .button.is-soundcloud.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-soundcloud.is-inverted.is-outlined.is-loading:focus::after, .button.is-soundcloud.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(20, 100%, 50%) hsl(20, 100%, 50%) !important;
}
.button.is-soundcloud.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-soundcloud.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-soundcloud.is-light {
  background-color: hsl(20, 100%, 96%);
  color: hsl(20, 100%, 41%);
}
.button.is-soundcloud.is-light:hover, .button.is-soundcloud.is-light.is-hovered {
  background-color: hsl(20, 100%, 93.5%);
  border-color: transparent;
  color: hsl(20, 100%, 41%);
}
.button.is-soundcloud.is-light:active, .button.is-soundcloud.is-light.is-active {
  background-color: hsl(20, 100%, 91%);
  border-color: transparent;
  color: hsl(20, 100%, 41%);
}
.button.is-soundcloud.is-dark {
  background-color: hsl(20, 100%, 41%);
  color: #fff;
}
.button.is-soundcloud.is-dark:hover, .button.is-soundcloud.is-dark.is-hovered {
  background-color: hsl(20, 100%, 38.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-soundcloud.is-dark:active, .button.is-soundcloud.is-dark.is-active {
  background-color: hsl(20, 100%, 36%);
  border-color: transparent;
  color: #fff;
}

.has-text-soundcloud {
  color: hsl(20, 100%, 50%) !important;
}

a.has-text-soundcloud:hover, a.has-text-soundcloud:focus {
  color: hsl(20, 100%, 40%) !important;
}

.has-background-soundcloud {
  background-color: hsl(20, 100%, 50%) !important;
}

.has-text-soundcloud-light {
  color: hsl(20, 100%, 96%) !important;
}

a.has-text-soundcloud-light:hover, a.has-text-soundcloud-light:focus {
  color: hsl(20, 100%, 86%) !important;
}

.has-background-soundcloud-light {
  background-color: hsl(20, 100%, 96%) !important;
}

.has-text-soundcloud-dark {
  color: hsl(20, 100%, 41%) !important;
}

a.has-text-soundcloud-dark:hover, a.has-text-soundcloud-dark:focus {
  color: hsl(20, 100%, 51%) !important;
}

.has-background-soundcloud-dark {
  background-color: hsl(20, 100%, 41%) !important;
}

.no-animation {
  transition-property: none !important;
}