/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-reddit {
  background-color: hsl(16.2, 100%, 50%);
  border-color: transparent;
  color: #fff;
}
.button.is-reddit:hover, .button.is-reddit.is-hovered {
  background-color: hsl(16.2, 100%, 47.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-reddit:focus, .button.is-reddit.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-reddit:focus:not(:active), .button.is-reddit.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(16.2, 100%, 50%, 0.25);
}
.button.is-reddit:active, .button.is-reddit.is-active {
  background-color: hsl(16.2, 100%, 45%);
  border-color: transparent;
  color: #fff;
}
.button.is-reddit[disabled], fieldset[disabled] .button.is-reddit {
  background-color: hsl(16.2, 100%, 50%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-reddit.is-inverted {
  background-color: #fff;
  color: hsl(16.2, 100%, 50%);
}
.button.is-reddit.is-inverted:hover, .button.is-reddit.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-reddit.is-inverted[disabled], fieldset[disabled] .button.is-reddit.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(16.2, 100%, 50%);
}
.button.is-reddit.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-reddit.is-outlined {
  background-color: transparent;
  border-color: hsl(16.2, 100%, 50%);
  color: hsl(16.2, 100%, 50%);
}
.button.is-reddit.is-outlined:hover, .button.is-reddit.is-outlined.is-hovered, .button.is-reddit.is-outlined:focus, .button.is-reddit.is-outlined.is-focused {
  background-color: hsl(16.2, 100%, 50%);
  border-color: hsl(16.2, 100%, 50%);
  color: #fff;
}
.button.is-reddit.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(16.2, 100%, 50%) hsl(16.2, 100%, 50%) !important;
}
.button.is-reddit.is-outlined.is-loading:hover::after, .button.is-reddit.is-outlined.is-loading.is-hovered::after, .button.is-reddit.is-outlined.is-loading:focus::after, .button.is-reddit.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-reddit.is-outlined[disabled], fieldset[disabled] .button.is-reddit.is-outlined {
  background-color: transparent;
  border-color: hsl(16.2, 100%, 50%);
  box-shadow: none;
  color: hsl(16.2, 100%, 50%);
}
.button.is-reddit.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-reddit.is-inverted.is-outlined:hover, .button.is-reddit.is-inverted.is-outlined.is-hovered, .button.is-reddit.is-inverted.is-outlined:focus, .button.is-reddit.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(16.2, 100%, 50%);
}
.button.is-reddit.is-inverted.is-outlined.is-loading:hover::after, .button.is-reddit.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-reddit.is-inverted.is-outlined.is-loading:focus::after, .button.is-reddit.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(16.2, 100%, 50%) hsl(16.2, 100%, 50%) !important;
}
.button.is-reddit.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-reddit.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-reddit.is-light {
  background-color: hsl(16.2, 100%, 96%);
  color: hsl(16.2, 100%, 42%);
}
.button.is-reddit.is-light:hover, .button.is-reddit.is-light.is-hovered {
  background-color: hsl(16.2, 100%, 93.5%);
  border-color: transparent;
  color: hsl(16.2, 100%, 42%);
}
.button.is-reddit.is-light:active, .button.is-reddit.is-light.is-active {
  background-color: hsl(16.2, 100%, 91%);
  border-color: transparent;
  color: hsl(16.2, 100%, 42%);
}
.button.is-reddit.is-dark {
  background-color: hsl(16.2, 100%, 42%);
  color: #fff;
}
.button.is-reddit.is-dark:hover, .button.is-reddit.is-dark.is-hovered {
  background-color: hsl(16.2, 100%, 39.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-reddit.is-dark:active, .button.is-reddit.is-dark.is-active {
  background-color: hsl(16.2, 100%, 37%);
  border-color: transparent;
  color: #fff;
}

.has-text-reddit {
  color: hsl(16.2, 100%, 50%) !important;
}

a.has-text-reddit:hover, a.has-text-reddit:focus {
  color: hsl(16.2, 100%, 40%) !important;
}

.has-background-reddit {
  background-color: hsl(16.2, 100%, 50%) !important;
}

.has-text-reddit-light {
  color: hsl(16.2, 100%, 96%) !important;
}

a.has-text-reddit-light:hover, a.has-text-reddit-light:focus {
  color: hsl(16.2, 100%, 86%) !important;
}

.has-background-reddit-light {
  background-color: hsl(16.2, 100%, 96%) !important;
}

.has-text-reddit-dark {
  color: hsl(16.2, 100%, 42%) !important;
}

a.has-text-reddit-dark:hover, a.has-text-reddit-dark:focus {
  color: hsl(16.2, 100%, 52%) !important;
}

.has-background-reddit-dark {
  background-color: hsl(16.2, 100%, 42%) !important;
}

.no-animation {
  transition-property: none !important;
}