/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-vimeo {
  background-color: hsl(196.6, 100%, 46.9%);
  border-color: transparent;
  color: #fff;
}
.button.is-vimeo:hover, .button.is-vimeo.is-hovered {
  background-color: hsl(196.6, 100%, 44.4%);
  border-color: transparent;
  color: #fff;
}
.button.is-vimeo:focus, .button.is-vimeo.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-vimeo:focus:not(:active), .button.is-vimeo.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(196.6, 100%, 46.9%, 0.25);
}
.button.is-vimeo:active, .button.is-vimeo.is-active {
  background-color: hsl(196.6, 100%, 41.9%);
  border-color: transparent;
  color: #fff;
}
.button.is-vimeo[disabled], fieldset[disabled] .button.is-vimeo {
  background-color: hsl(196.6, 100%, 46.9%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-vimeo.is-inverted {
  background-color: #fff;
  color: hsl(196.6, 100%, 46.9%);
}
.button.is-vimeo.is-inverted:hover, .button.is-vimeo.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-vimeo.is-inverted[disabled], fieldset[disabled] .button.is-vimeo.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(196.6, 100%, 46.9%);
}
.button.is-vimeo.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-vimeo.is-outlined {
  background-color: transparent;
  border-color: hsl(196.6, 100%, 46.9%);
  color: hsl(196.6, 100%, 46.9%);
}
.button.is-vimeo.is-outlined:hover, .button.is-vimeo.is-outlined.is-hovered, .button.is-vimeo.is-outlined:focus, .button.is-vimeo.is-outlined.is-focused {
  background-color: hsl(196.6, 100%, 46.9%);
  border-color: hsl(196.6, 100%, 46.9%);
  color: #fff;
}
.button.is-vimeo.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(196.6, 100%, 46.9%) hsl(196.6, 100%, 46.9%) !important;
}
.button.is-vimeo.is-outlined.is-loading:hover::after, .button.is-vimeo.is-outlined.is-loading.is-hovered::after, .button.is-vimeo.is-outlined.is-loading:focus::after, .button.is-vimeo.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-vimeo.is-outlined[disabled], fieldset[disabled] .button.is-vimeo.is-outlined {
  background-color: transparent;
  border-color: hsl(196.6, 100%, 46.9%);
  box-shadow: none;
  color: hsl(196.6, 100%, 46.9%);
}
.button.is-vimeo.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-vimeo.is-inverted.is-outlined:hover, .button.is-vimeo.is-inverted.is-outlined.is-hovered, .button.is-vimeo.is-inverted.is-outlined:focus, .button.is-vimeo.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(196.6, 100%, 46.9%);
}
.button.is-vimeo.is-inverted.is-outlined.is-loading:hover::after, .button.is-vimeo.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-vimeo.is-inverted.is-outlined.is-loading:focus::after, .button.is-vimeo.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(196.6, 100%, 46.9%) hsl(196.6, 100%, 46.9%) !important;
}
.button.is-vimeo.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-vimeo.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-vimeo.is-light {
  background-color: hsl(196.6, 100%, 96%);
  color: hsl(196.6, 100%, 35%);
}
.button.is-vimeo.is-light:hover, .button.is-vimeo.is-light.is-hovered {
  background-color: hsl(196.6, 100%, 93.5%);
  border-color: transparent;
  color: hsl(196.6, 100%, 35%);
}
.button.is-vimeo.is-light:active, .button.is-vimeo.is-light.is-active {
  background-color: hsl(196.6, 100%, 91%);
  border-color: transparent;
  color: hsl(196.6, 100%, 35%);
}
.button.is-vimeo.is-dark {
  background-color: hsl(196.6, 100%, 35%);
  color: #fff;
}
.button.is-vimeo.is-dark:hover, .button.is-vimeo.is-dark.is-hovered {
  background-color: hsl(196.6, 100%, 32.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-vimeo.is-dark:active, .button.is-vimeo.is-dark.is-active {
  background-color: hsl(196.6, 100%, 30%);
  border-color: transparent;
  color: #fff;
}

.has-text-vimeo {
  color: hsl(196.6, 100%, 46.9%) !important;
}

a.has-text-vimeo:hover, a.has-text-vimeo:focus {
  color: hsl(196.6, 100%, 36.9%) !important;
}

.has-background-vimeo {
  background-color: hsl(196.6, 100%, 46.9%) !important;
}

.has-text-vimeo-light {
  color: hsl(196.6, 100%, 96%) !important;
}

a.has-text-vimeo-light:hover, a.has-text-vimeo-light:focus {
  color: hsl(196.6, 100%, 86%) !important;
}

.has-background-vimeo-light {
  background-color: hsl(196.6, 100%, 96%) !important;
}

.has-text-vimeo-dark {
  color: hsl(196.6, 100%, 35%) !important;
}

a.has-text-vimeo-dark:hover, a.has-text-vimeo-dark:focus {
  color: hsl(196.6, 100%, 45%) !important;
}

.has-background-vimeo-dark {
  background-color: hsl(196.6, 100%, 35%) !important;
}

.no-animation {
  transition-property: none !important;
}