$providers: (
  "apple": hsl(0, 0%, 0%),
  "bitbucket": hsl(210, 60%, 31%),
  "discord": hsl(226.7, 58.4%, 65.1%),
  "dropbox": hsl(217.2, 100%, 50%),
  "facebook": hsl(213.9, 89.3%, 52.2%),
  "flickr": hsl(329, 100%, 50%),
  "foursquare": hsl(344.1, 93.7%, 62.9%),
  "github": hsl(210, 12.2%, 16.1%),
  "gitlab": hsl(13.6, 79.2%, 52.9%),
  "instagram": hsl(353.8, 82.1%, 62.7%),
  "linkedin": hsl(210, 90.2%, 40%),
  "microsoft": hsl(206.4, 100%, 36.1%),
  "odnoklassniki": hsl(31, 93%, 48%),
  "openid": hsl(25, 85%, 55%),
  "pinterest": hsl(350.9, 100%, 45.1%),
  "reddit": hsl(16.2, 100%, 50%),
  "slack": hsl(294, 54%, 27%),
  "soundcloud": hsl(20, 100%, 50%),
  "tumblr": hsl(209.5, 36.2%, 32%),
  "twitter": hsl(202.8, 89.1%, 53.1%),
  "vimeo": hsl(196.6, 100%, 46.9%),
  "vk": hsl(212, 42%, 52%),
  "x": hsl(0, 0%, 0%),
  "yahoo": hsl(266.7, 100%, 28.2%),
  "youtube": hsl(360, 100%, 50%),
) !default;
