/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-instagram {
  background-color: hsl(353.8, 82.1%, 62.7%);
  border-color: transparent;
  color: #fff;
}
.button.is-instagram:hover, .button.is-instagram.is-hovered {
  background-color: hsl(353.8, 82.1%, 60.2%);
  border-color: transparent;
  color: #fff;
}
.button.is-instagram:focus, .button.is-instagram.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-instagram:focus:not(:active), .button.is-instagram.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(353.8, 82.1%, 62.7%, 0.25);
}
.button.is-instagram:active, .button.is-instagram.is-active {
  background-color: hsl(353.8, 82.1%, 57.7%);
  border-color: transparent;
  color: #fff;
}
.button.is-instagram[disabled], fieldset[disabled] .button.is-instagram {
  background-color: hsl(353.8, 82.1%, 62.7%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-instagram.is-inverted {
  background-color: #fff;
  color: hsl(353.8, 82.1%, 62.7%);
}
.button.is-instagram.is-inverted:hover, .button.is-instagram.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-instagram.is-inverted[disabled], fieldset[disabled] .button.is-instagram.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(353.8, 82.1%, 62.7%);
}
.button.is-instagram.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-instagram.is-outlined {
  background-color: transparent;
  border-color: hsl(353.8, 82.1%, 62.7%);
  color: hsl(353.8, 82.1%, 62.7%);
}
.button.is-instagram.is-outlined:hover, .button.is-instagram.is-outlined.is-hovered, .button.is-instagram.is-outlined:focus, .button.is-instagram.is-outlined.is-focused {
  background-color: hsl(353.8, 82.1%, 62.7%);
  border-color: hsl(353.8, 82.1%, 62.7%);
  color: #fff;
}
.button.is-instagram.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(353.8, 82.1%, 62.7%) hsl(353.8, 82.1%, 62.7%) !important;
}
.button.is-instagram.is-outlined.is-loading:hover::after, .button.is-instagram.is-outlined.is-loading.is-hovered::after, .button.is-instagram.is-outlined.is-loading:focus::after, .button.is-instagram.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-instagram.is-outlined[disabled], fieldset[disabled] .button.is-instagram.is-outlined {
  background-color: transparent;
  border-color: hsl(353.8, 82.1%, 62.7%);
  box-shadow: none;
  color: hsl(353.8, 82.1%, 62.7%);
}
.button.is-instagram.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-instagram.is-inverted.is-outlined:hover, .button.is-instagram.is-inverted.is-outlined.is-hovered, .button.is-instagram.is-inverted.is-outlined:focus, .button.is-instagram.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(353.8, 82.1%, 62.7%);
}
.button.is-instagram.is-inverted.is-outlined.is-loading:hover::after, .button.is-instagram.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-instagram.is-inverted.is-outlined.is-loading:focus::after, .button.is-instagram.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(353.8, 82.1%, 62.7%) hsl(353.8, 82.1%, 62.7%) !important;
}
.button.is-instagram.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-instagram.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-instagram.is-light {
  background-color: hsl(353.8, 82.1%, 96%);
  color: hsl(353.8, 82.1%, 42%);
}
.button.is-instagram.is-light:hover, .button.is-instagram.is-light.is-hovered {
  background-color: hsl(353.8, 82.1%, 93.5%);
  border-color: transparent;
  color: hsl(353.8, 82.1%, 42%);
}
.button.is-instagram.is-light:active, .button.is-instagram.is-light.is-active {
  background-color: hsl(353.8, 82.1%, 91%);
  border-color: transparent;
  color: hsl(353.8, 82.1%, 42%);
}
.button.is-instagram.is-dark {
  background-color: hsl(353.8, 82.1%, 42%);
  color: #fff;
}
.button.is-instagram.is-dark:hover, .button.is-instagram.is-dark.is-hovered {
  background-color: hsl(353.8, 82.1%, 39.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-instagram.is-dark:active, .button.is-instagram.is-dark.is-active {
  background-color: hsl(353.8, 82.1%, 37%);
  border-color: transparent;
  color: #fff;
}

.has-text-instagram {
  color: hsl(353.8, 82.1%, 62.7%) !important;
}

a.has-text-instagram:hover, a.has-text-instagram:focus {
  color: hsl(353.8, 82.1%, 52.7%) !important;
}

.has-background-instagram {
  background-color: hsl(353.8, 82.1%, 62.7%) !important;
}

.has-text-instagram-light {
  color: hsl(353.8, 82.1%, 96%) !important;
}

a.has-text-instagram-light:hover, a.has-text-instagram-light:focus {
  color: hsl(353.8, 82.1%, 86%) !important;
}

.has-background-instagram-light {
  background-color: hsl(353.8, 82.1%, 96%) !important;
}

.has-text-instagram-dark {
  color: hsl(353.8, 82.1%, 42%) !important;
}

a.has-text-instagram-dark:hover, a.has-text-instagram-dark:focus {
  color: hsl(353.8, 82.1%, 52%) !important;
}

.has-background-instagram-dark {
  background-color: hsl(353.8, 82.1%, 42%) !important;
}

.no-animation {
  transition-property: none !important;
}