/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-github {
  background-color: hsl(210, 12.2%, 16.1%);
  border-color: transparent;
  color: #fff;
}
.button.is-github:hover, .button.is-github.is-hovered {
  background-color: hsl(210, 12.2%, 13.6%);
  border-color: transparent;
  color: #fff;
}
.button.is-github:focus, .button.is-github.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-github:focus:not(:active), .button.is-github.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(210, 12.2%, 16.1%, 0.25);
}
.button.is-github:active, .button.is-github.is-active {
  background-color: hsl(210, 12.2%, 11.1%);
  border-color: transparent;
  color: #fff;
}
.button.is-github[disabled], fieldset[disabled] .button.is-github {
  background-color: hsl(210, 12.2%, 16.1%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-github.is-inverted {
  background-color: #fff;
  color: hsl(210, 12.2%, 16.1%);
}
.button.is-github.is-inverted:hover, .button.is-github.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-github.is-inverted[disabled], fieldset[disabled] .button.is-github.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(210, 12.2%, 16.1%);
}
.button.is-github.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-github.is-outlined {
  background-color: transparent;
  border-color: hsl(210, 12.2%, 16.1%);
  color: hsl(210, 12.2%, 16.1%);
}
.button.is-github.is-outlined:hover, .button.is-github.is-outlined.is-hovered, .button.is-github.is-outlined:focus, .button.is-github.is-outlined.is-focused {
  background-color: hsl(210, 12.2%, 16.1%);
  border-color: hsl(210, 12.2%, 16.1%);
  color: #fff;
}
.button.is-github.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(210, 12.2%, 16.1%) hsl(210, 12.2%, 16.1%) !important;
}
.button.is-github.is-outlined.is-loading:hover::after, .button.is-github.is-outlined.is-loading.is-hovered::after, .button.is-github.is-outlined.is-loading:focus::after, .button.is-github.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-github.is-outlined[disabled], fieldset[disabled] .button.is-github.is-outlined {
  background-color: transparent;
  border-color: hsl(210, 12.2%, 16.1%);
  box-shadow: none;
  color: hsl(210, 12.2%, 16.1%);
}
.button.is-github.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-github.is-inverted.is-outlined:hover, .button.is-github.is-inverted.is-outlined.is-hovered, .button.is-github.is-inverted.is-outlined:focus, .button.is-github.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(210, 12.2%, 16.1%);
}
.button.is-github.is-inverted.is-outlined.is-loading:hover::after, .button.is-github.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-github.is-inverted.is-outlined.is-loading:focus::after, .button.is-github.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(210, 12.2%, 16.1%) hsl(210, 12.2%, 16.1%) !important;
}
.button.is-github.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-github.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-github.is-light {
  background-color: hsl(210, 12.2%, 96%);
  color: hsl(210, 12.2%, 16.1%);
}
.button.is-github.is-light:hover, .button.is-github.is-light.is-hovered {
  background-color: hsl(210, 12.2%, 93.5%);
  border-color: transparent;
  color: hsl(210, 12.2%, 16.1%);
}
.button.is-github.is-light:active, .button.is-github.is-light.is-active {
  background-color: hsl(210, 12.2%, 91%);
  border-color: transparent;
  color: hsl(210, 12.2%, 16.1%);
}
.button.is-github.is-dark {
  background-color: hsl(210, 12.2%, 16.1%);
  color: #fff;
}
.button.is-github.is-dark:hover, .button.is-github.is-dark.is-hovered {
  background-color: hsl(210, 12.2%, 13.6%);
  border-color: transparent;
  color: #fff;
}
.button.is-github.is-dark:active, .button.is-github.is-dark.is-active {
  background-color: hsl(210, 12.2%, 11.1%);
  border-color: transparent;
  color: #fff;
}

.has-text-github {
  color: hsl(210, 12.2%, 16.1%) !important;
}

a.has-text-github:hover, a.has-text-github:focus {
  color: hsl(210, 12.2%, 6.1%) !important;
}

.has-background-github {
  background-color: hsl(210, 12.2%, 16.1%) !important;
}

.has-text-github-light {
  color: hsl(210, 12.2%, 96%) !important;
}

a.has-text-github-light:hover, a.has-text-github-light:focus {
  color: hsl(210, 12.2%, 86%) !important;
}

.has-background-github-light {
  background-color: hsl(210, 12.2%, 96%) !important;
}

.has-text-github-dark {
  color: hsl(210, 12.2%, 16.1%) !important;
}

a.has-text-github-dark:hover, a.has-text-github-dark:focus {
  color: hsl(210, 12.2%, 26.1%) !important;
}

.has-background-github-dark {
  background-color: hsl(210, 12.2%, 16.1%) !important;
}

.no-animation {
  transition-property: none !important;
}