/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-tumblr {
  background-color: hsl(209.5, 36.2%, 32%);
  border-color: transparent;
  color: #fff;
}
.button.is-tumblr:hover, .button.is-tumblr.is-hovered {
  background-color: hsl(209.5, 36.2%, 29.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-tumblr:focus, .button.is-tumblr.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-tumblr:focus:not(:active), .button.is-tumblr.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(209.5, 36.2%, 32%, 0.25);
}
.button.is-tumblr:active, .button.is-tumblr.is-active {
  background-color: hsl(209.5, 36.2%, 27%);
  border-color: transparent;
  color: #fff;
}
.button.is-tumblr[disabled], fieldset[disabled] .button.is-tumblr {
  background-color: hsl(209.5, 36.2%, 32%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-tumblr.is-inverted {
  background-color: #fff;
  color: hsl(209.5, 36.2%, 32%);
}
.button.is-tumblr.is-inverted:hover, .button.is-tumblr.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-tumblr.is-inverted[disabled], fieldset[disabled] .button.is-tumblr.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(209.5, 36.2%, 32%);
}
.button.is-tumblr.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-tumblr.is-outlined {
  background-color: transparent;
  border-color: hsl(209.5, 36.2%, 32%);
  color: hsl(209.5, 36.2%, 32%);
}
.button.is-tumblr.is-outlined:hover, .button.is-tumblr.is-outlined.is-hovered, .button.is-tumblr.is-outlined:focus, .button.is-tumblr.is-outlined.is-focused {
  background-color: hsl(209.5, 36.2%, 32%);
  border-color: hsl(209.5, 36.2%, 32%);
  color: #fff;
}
.button.is-tumblr.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(209.5, 36.2%, 32%) hsl(209.5, 36.2%, 32%) !important;
}
.button.is-tumblr.is-outlined.is-loading:hover::after, .button.is-tumblr.is-outlined.is-loading.is-hovered::after, .button.is-tumblr.is-outlined.is-loading:focus::after, .button.is-tumblr.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-tumblr.is-outlined[disabled], fieldset[disabled] .button.is-tumblr.is-outlined {
  background-color: transparent;
  border-color: hsl(209.5, 36.2%, 32%);
  box-shadow: none;
  color: hsl(209.5, 36.2%, 32%);
}
.button.is-tumblr.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-tumblr.is-inverted.is-outlined:hover, .button.is-tumblr.is-inverted.is-outlined.is-hovered, .button.is-tumblr.is-inverted.is-outlined:focus, .button.is-tumblr.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(209.5, 36.2%, 32%);
}
.button.is-tumblr.is-inverted.is-outlined.is-loading:hover::after, .button.is-tumblr.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-tumblr.is-inverted.is-outlined.is-loading:focus::after, .button.is-tumblr.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(209.5, 36.2%, 32%) hsl(209.5, 36.2%, 32%) !important;
}
.button.is-tumblr.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-tumblr.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-tumblr.is-light {
  background-color: hsl(209.5, 36.2%, 96%);
  color: hsl(209.5, 36.2%, 32%);
}
.button.is-tumblr.is-light:hover, .button.is-tumblr.is-light.is-hovered {
  background-color: hsl(209.5, 36.2%, 93.5%);
  border-color: transparent;
  color: hsl(209.5, 36.2%, 32%);
}
.button.is-tumblr.is-light:active, .button.is-tumblr.is-light.is-active {
  background-color: hsl(209.5, 36.2%, 91%);
  border-color: transparent;
  color: hsl(209.5, 36.2%, 32%);
}
.button.is-tumblr.is-dark {
  background-color: hsl(209.5, 36.2%, 32%);
  color: #fff;
}
.button.is-tumblr.is-dark:hover, .button.is-tumblr.is-dark.is-hovered {
  background-color: hsl(209.5, 36.2%, 29.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-tumblr.is-dark:active, .button.is-tumblr.is-dark.is-active {
  background-color: hsl(209.5, 36.2%, 27%);
  border-color: transparent;
  color: #fff;
}

.has-text-tumblr {
  color: hsl(209.5, 36.2%, 32%) !important;
}

a.has-text-tumblr:hover, a.has-text-tumblr:focus {
  color: hsl(209.5, 36.2%, 22%) !important;
}

.has-background-tumblr {
  background-color: hsl(209.5, 36.2%, 32%) !important;
}

.has-text-tumblr-light {
  color: hsl(209.5, 36.2%, 96%) !important;
}

a.has-text-tumblr-light:hover, a.has-text-tumblr-light:focus {
  color: hsl(209.5, 36.2%, 86%) !important;
}

.has-background-tumblr-light {
  background-color: hsl(209.5, 36.2%, 96%) !important;
}

.has-text-tumblr-dark {
  color: hsl(209.5, 36.2%, 32%) !important;
}

a.has-text-tumblr-dark:hover, a.has-text-tumblr-dark:focus {
  color: hsl(209.5, 36.2%, 42%) !important;
}

.has-background-tumblr-dark {
  background-color: hsl(209.5, 36.2%, 32%) !important;
}

.no-animation {
  transition-property: none !important;
}