/*! bulma-social v2.1.0 | MIT License | github.com/aldi/bulma-social */
.button {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
       -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.no-animation {
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.button.is-tumblr {
  background-color: #34526f;
  border-color: transparent;
  color: #fff;
}

.button.is-tumblr:hover, .button.is-tumblr.is-hovered {
  background-color: #304c66;
  border-color: transparent;
  color: #fff;
}

.button.is-tumblr:focus, .button.is-tumblr.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-tumblr:focus:not(:active), .button.is-tumblr.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(52, 82, 111, 0.25);
          box-shadow: 0 0 0 0.125em rgba(52, 82, 111, 0.25);
}

.button.is-tumblr:active, .button.is-tumblr.is-active {
  background-color: #2c455e;
  border-color: transparent;
  color: #fff;
}

.button.is-tumblr[disabled],
fieldset[disabled] .button.is-tumblr {
  background-color: #34526f;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-tumblr.is-inverted {
  background-color: #fff;
  color: #34526f;
}

.button.is-tumblr.is-inverted:hover, .button.is-tumblr.is-inverted.is-hovered {
  background-color: #f2f2f2;
}

.button.is-tumblr.is-inverted[disabled],
fieldset[disabled] .button.is-tumblr.is-inverted {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #34526f;
}

.button.is-tumblr.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-tumblr.is-outlined {
  background-color: transparent;
  border-color: #34526f;
  color: #34526f;
}

.button.is-tumblr.is-outlined:hover, .button.is-tumblr.is-outlined.is-hovered, .button.is-tumblr.is-outlined:focus, .button.is-tumblr.is-outlined.is-focused {
  background-color: #34526f;
  border-color: #34526f;
  color: #fff;
}

.button.is-tumblr.is-outlined.is-loading::after {
  border-color: transparent transparent #34526f #34526f !important;
}

.button.is-tumblr.is-outlined.is-loading:hover::after, .button.is-tumblr.is-outlined.is-loading.is-hovered::after, .button.is-tumblr.is-outlined.is-loading:focus::after, .button.is-tumblr.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-tumblr.is-outlined[disabled],
fieldset[disabled] .button.is-tumblr.is-outlined {
  background-color: transparent;
  border-color: #34526f;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #34526f;
}

.button.is-tumblr.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-tumblr.is-inverted.is-outlined:hover, .button.is-tumblr.is-inverted.is-outlined.is-hovered, .button.is-tumblr.is-inverted.is-outlined:focus, .button.is-tumblr.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: #34526f;
}

.button.is-tumblr.is-inverted.is-outlined.is-loading:hover::after, .button.is-tumblr.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-tumblr.is-inverted.is-outlined.is-loading:focus::after, .button.is-tumblr.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #34526f #34526f !important;
}

.button.is-tumblr.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-tumblr.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.button.is-tumblr.is-light {
  background-color: #f1f5f8;
  color: #5583af;
}

.button.is-tumblr.is-light:hover, .button.is-tumblr.is-light.is-hovered {
  background-color: #e8eff4;
  border-color: transparent;
  color: #5583af;
}

.button.is-tumblr.is-light:active, .button.is-tumblr.is-light.is-active {
  background-color: #e0e8f0;
  border-color: transparent;
  color: #5583af;
}

.button.is-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.has-text-tumblr {
  color: #34526f !important;
}

a.has-text-tumblr:hover, a.has-text-tumblr:focus {
  color: #24384c !important;
}

.has-background-tumblr {
  background-color: #34526f !important;
}

.has-text-tumblr-light {
  color: #f1f5f8 !important;
}

a.has-text-tumblr-light:hover, a.has-text-tumblr-light:focus {
  color: #cedce8 !important;
}

.has-background-tumblr-light {
  background-color: #f1f5f8 !important;
}

.has-text-tumblr-dark {
  color: #5583af !important;
}

a.has-text-tumblr-dark:hover, a.has-text-tumblr-dark:focus {
  color: #789cc0 !important;
}

.has-background-tumblr-dark {
  background-color: #5583af !important;
}
