/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-foursquare {
  background-color: hsl(344.1, 93.7%, 62.9%);
  border-color: transparent;
  color: #fff;
}
.button.is-foursquare:hover, .button.is-foursquare.is-hovered {
  background-color: hsl(344.1, 93.7%, 60.4%);
  border-color: transparent;
  color: #fff;
}
.button.is-foursquare:focus, .button.is-foursquare.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-foursquare:focus:not(:active), .button.is-foursquare.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(344.1, 93.7%, 62.9%, 0.25);
}
.button.is-foursquare:active, .button.is-foursquare.is-active {
  background-color: hsl(344.1, 93.7%, 57.9%);
  border-color: transparent;
  color: #fff;
}
.button.is-foursquare[disabled], fieldset[disabled] .button.is-foursquare {
  background-color: hsl(344.1, 93.7%, 62.9%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-foursquare.is-inverted {
  background-color: #fff;
  color: hsl(344.1, 93.7%, 62.9%);
}
.button.is-foursquare.is-inverted:hover, .button.is-foursquare.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-foursquare.is-inverted[disabled], fieldset[disabled] .button.is-foursquare.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(344.1, 93.7%, 62.9%);
}
.button.is-foursquare.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-foursquare.is-outlined {
  background-color: transparent;
  border-color: hsl(344.1, 93.7%, 62.9%);
  color: hsl(344.1, 93.7%, 62.9%);
}
.button.is-foursquare.is-outlined:hover, .button.is-foursquare.is-outlined.is-hovered, .button.is-foursquare.is-outlined:focus, .button.is-foursquare.is-outlined.is-focused {
  background-color: hsl(344.1, 93.7%, 62.9%);
  border-color: hsl(344.1, 93.7%, 62.9%);
  color: #fff;
}
.button.is-foursquare.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(344.1, 93.7%, 62.9%) hsl(344.1, 93.7%, 62.9%) !important;
}
.button.is-foursquare.is-outlined.is-loading:hover::after, .button.is-foursquare.is-outlined.is-loading.is-hovered::after, .button.is-foursquare.is-outlined.is-loading:focus::after, .button.is-foursquare.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-foursquare.is-outlined[disabled], fieldset[disabled] .button.is-foursquare.is-outlined {
  background-color: transparent;
  border-color: hsl(344.1, 93.7%, 62.9%);
  box-shadow: none;
  color: hsl(344.1, 93.7%, 62.9%);
}
.button.is-foursquare.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-foursquare.is-inverted.is-outlined:hover, .button.is-foursquare.is-inverted.is-outlined.is-hovered, .button.is-foursquare.is-inverted.is-outlined:focus, .button.is-foursquare.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(344.1, 93.7%, 62.9%);
}
.button.is-foursquare.is-inverted.is-outlined.is-loading:hover::after, .button.is-foursquare.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-foursquare.is-inverted.is-outlined.is-loading:focus::after, .button.is-foursquare.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(344.1, 93.7%, 62.9%) hsl(344.1, 93.7%, 62.9%) !important;
}
.button.is-foursquare.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-foursquare.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-foursquare.is-light {
  background-color: hsl(344.1, 93.7%, 96%);
  color: hsl(344.1, 93.7%, 42%);
}
.button.is-foursquare.is-light:hover, .button.is-foursquare.is-light.is-hovered {
  background-color: hsl(344.1, 93.7%, 93.5%);
  border-color: transparent;
  color: hsl(344.1, 93.7%, 42%);
}
.button.is-foursquare.is-light:active, .button.is-foursquare.is-light.is-active {
  background-color: hsl(344.1, 93.7%, 91%);
  border-color: transparent;
  color: hsl(344.1, 93.7%, 42%);
}
.button.is-foursquare.is-dark {
  background-color: hsl(344.1, 93.7%, 42%);
  color: #fff;
}
.button.is-foursquare.is-dark:hover, .button.is-foursquare.is-dark.is-hovered {
  background-color: hsl(344.1, 93.7%, 39.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-foursquare.is-dark:active, .button.is-foursquare.is-dark.is-active {
  background-color: hsl(344.1, 93.7%, 37%);
  border-color: transparent;
  color: #fff;
}

.has-text-foursquare {
  color: hsl(344.1, 93.7%, 62.9%) !important;
}

a.has-text-foursquare:hover, a.has-text-foursquare:focus {
  color: hsl(344.1, 93.7%, 52.9%) !important;
}

.has-background-foursquare {
  background-color: hsl(344.1, 93.7%, 62.9%) !important;
}

.has-text-foursquare-light {
  color: hsl(344.1, 93.7%, 96%) !important;
}

a.has-text-foursquare-light:hover, a.has-text-foursquare-light:focus {
  color: hsl(344.1, 93.7%, 86%) !important;
}

.has-background-foursquare-light {
  background-color: hsl(344.1, 93.7%, 96%) !important;
}

.has-text-foursquare-dark {
  color: hsl(344.1, 93.7%, 42%) !important;
}

a.has-text-foursquare-dark:hover, a.has-text-foursquare-dark:focus {
  color: hsl(344.1, 93.7%, 52%) !important;
}

.has-background-foursquare-dark {
  background-color: hsl(344.1, 93.7%, 42%) !important;
}

.no-animation {
  transition-property: none !important;
}