/*! bulma-social v2.1.0 | MIT License | github.com/aldi/bulma-social */
.button {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
       -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.no-animation {
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.button.is-gitlab {
  background-color: #e65328;
  border-color: transparent;
  color: #fff;
}

.button.is-gitlab:hover, .button.is-gitlab.is-hovered {
  background-color: #e54a1c;
  border-color: transparent;
  color: #fff;
}

.button.is-gitlab:focus, .button.is-gitlab.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-gitlab:focus:not(:active), .button.is-gitlab.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(230, 83, 40, 0.25);
          box-shadow: 0 0 0 0.125em rgba(230, 83, 40, 0.25);
}

.button.is-gitlab:active, .button.is-gitlab.is-active {
  background-color: #db4519;
  border-color: transparent;
  color: #fff;
}

.button.is-gitlab[disabled],
fieldset[disabled] .button.is-gitlab {
  background-color: #e65328;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-gitlab.is-inverted {
  background-color: #fff;
  color: #e65328;
}

.button.is-gitlab.is-inverted:hover, .button.is-gitlab.is-inverted.is-hovered {
  background-color: #f2f2f2;
}

.button.is-gitlab.is-inverted[disabled],
fieldset[disabled] .button.is-gitlab.is-inverted {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #e65328;
}

.button.is-gitlab.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-gitlab.is-outlined {
  background-color: transparent;
  border-color: #e65328;
  color: #e65328;
}

.button.is-gitlab.is-outlined:hover, .button.is-gitlab.is-outlined.is-hovered, .button.is-gitlab.is-outlined:focus, .button.is-gitlab.is-outlined.is-focused {
  background-color: #e65328;
  border-color: #e65328;
  color: #fff;
}

.button.is-gitlab.is-outlined.is-loading::after {
  border-color: transparent transparent #e65328 #e65328 !important;
}

.button.is-gitlab.is-outlined.is-loading:hover::after, .button.is-gitlab.is-outlined.is-loading.is-hovered::after, .button.is-gitlab.is-outlined.is-loading:focus::after, .button.is-gitlab.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-gitlab.is-outlined[disabled],
fieldset[disabled] .button.is-gitlab.is-outlined {
  background-color: transparent;
  border-color: #e65328;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #e65328;
}

.button.is-gitlab.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-gitlab.is-inverted.is-outlined:hover, .button.is-gitlab.is-inverted.is-outlined.is-hovered, .button.is-gitlab.is-inverted.is-outlined:focus, .button.is-gitlab.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: #e65328;
}

.button.is-gitlab.is-inverted.is-outlined.is-loading:hover::after, .button.is-gitlab.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-gitlab.is-inverted.is-outlined.is-loading:focus::after, .button.is-gitlab.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #e65328 #e65328 !important;
}

.button.is-gitlab.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-gitlab.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.button.is-gitlab.is-light {
  background-color: #fdf0ed;
  color: #c43e17;
}

.button.is-gitlab.is-light:hover, .button.is-gitlab.is-light.is-hovered {
  background-color: #fce7e1;
  border-color: transparent;
  color: #c43e17;
}

.button.is-gitlab.is-light:active, .button.is-gitlab.is-light.is-active {
  background-color: #faded6;
  border-color: transparent;
  color: #c43e17;
}

.button.is-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.has-text-gitlab {
  color: #e65328 !important;
}

a.has-text-gitlab:hover, a.has-text-gitlab:focus {
  color: #c43e17 !important;
}

.has-background-gitlab {
  background-color: #e65328 !important;
}

.has-text-gitlab-light {
  color: #fdf0ed !important;
}

a.has-text-gitlab-light:hover, a.has-text-gitlab-light:focus {
  color: #f8ccbf !important;
}

.has-background-gitlab-light {
  background-color: #fdf0ed !important;
}

.has-text-gitlab-dark {
  color: #c43e17 !important;
}

a.has-text-gitlab-dark:hover, a.has-text-gitlab-dark:focus {
  color: #e65328 !important;
}

.has-background-gitlab-dark {
  background-color: #c43e17 !important;
}
