/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-gitlab {
  background-color: hsl(13.6, 79.2%, 52.9%);
  border-color: transparent;
  color: #fff;
}
.button.is-gitlab:hover, .button.is-gitlab.is-hovered {
  background-color: hsl(13.6, 79.2%, 50.4%);
  border-color: transparent;
  color: #fff;
}
.button.is-gitlab:focus, .button.is-gitlab.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-gitlab:focus:not(:active), .button.is-gitlab.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(13.6, 79.2%, 52.9%, 0.25);
}
.button.is-gitlab:active, .button.is-gitlab.is-active {
  background-color: hsl(13.6, 79.2%, 47.9%);
  border-color: transparent;
  color: #fff;
}
.button.is-gitlab[disabled], fieldset[disabled] .button.is-gitlab {
  background-color: hsl(13.6, 79.2%, 52.9%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-gitlab.is-inverted {
  background-color: #fff;
  color: hsl(13.6, 79.2%, 52.9%);
}
.button.is-gitlab.is-inverted:hover, .button.is-gitlab.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-gitlab.is-inverted[disabled], fieldset[disabled] .button.is-gitlab.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(13.6, 79.2%, 52.9%);
}
.button.is-gitlab.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-gitlab.is-outlined {
  background-color: transparent;
  border-color: hsl(13.6, 79.2%, 52.9%);
  color: hsl(13.6, 79.2%, 52.9%);
}
.button.is-gitlab.is-outlined:hover, .button.is-gitlab.is-outlined.is-hovered, .button.is-gitlab.is-outlined:focus, .button.is-gitlab.is-outlined.is-focused {
  background-color: hsl(13.6, 79.2%, 52.9%);
  border-color: hsl(13.6, 79.2%, 52.9%);
  color: #fff;
}
.button.is-gitlab.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(13.6, 79.2%, 52.9%) hsl(13.6, 79.2%, 52.9%) !important;
}
.button.is-gitlab.is-outlined.is-loading:hover::after, .button.is-gitlab.is-outlined.is-loading.is-hovered::after, .button.is-gitlab.is-outlined.is-loading:focus::after, .button.is-gitlab.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-gitlab.is-outlined[disabled], fieldset[disabled] .button.is-gitlab.is-outlined {
  background-color: transparent;
  border-color: hsl(13.6, 79.2%, 52.9%);
  box-shadow: none;
  color: hsl(13.6, 79.2%, 52.9%);
}
.button.is-gitlab.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-gitlab.is-inverted.is-outlined:hover, .button.is-gitlab.is-inverted.is-outlined.is-hovered, .button.is-gitlab.is-inverted.is-outlined:focus, .button.is-gitlab.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(13.6, 79.2%, 52.9%);
}
.button.is-gitlab.is-inverted.is-outlined.is-loading:hover::after, .button.is-gitlab.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-gitlab.is-inverted.is-outlined.is-loading:focus::after, .button.is-gitlab.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(13.6, 79.2%, 52.9%) hsl(13.6, 79.2%, 52.9%) !important;
}
.button.is-gitlab.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-gitlab.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-gitlab.is-light {
  background-color: hsl(13.6, 79.2%, 96%);
  color: hsl(13.6, 79.2%, 43%);
}
.button.is-gitlab.is-light:hover, .button.is-gitlab.is-light.is-hovered {
  background-color: hsl(13.6, 79.2%, 93.5%);
  border-color: transparent;
  color: hsl(13.6, 79.2%, 43%);
}
.button.is-gitlab.is-light:active, .button.is-gitlab.is-light.is-active {
  background-color: hsl(13.6, 79.2%, 91%);
  border-color: transparent;
  color: hsl(13.6, 79.2%, 43%);
}
.button.is-gitlab.is-dark {
  background-color: hsl(13.6, 79.2%, 43%);
  color: #fff;
}
.button.is-gitlab.is-dark:hover, .button.is-gitlab.is-dark.is-hovered {
  background-color: hsl(13.6, 79.2%, 40.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-gitlab.is-dark:active, .button.is-gitlab.is-dark.is-active {
  background-color: hsl(13.6, 79.2%, 38%);
  border-color: transparent;
  color: #fff;
}

.has-text-gitlab {
  color: hsl(13.6, 79.2%, 52.9%) !important;
}

a.has-text-gitlab:hover, a.has-text-gitlab:focus {
  color: hsl(13.6, 79.2%, 42.9%) !important;
}

.has-background-gitlab {
  background-color: hsl(13.6, 79.2%, 52.9%) !important;
}

.has-text-gitlab-light {
  color: hsl(13.6, 79.2%, 96%) !important;
}

a.has-text-gitlab-light:hover, a.has-text-gitlab-light:focus {
  color: hsl(13.6, 79.2%, 86%) !important;
}

.has-background-gitlab-light {
  background-color: hsl(13.6, 79.2%, 96%) !important;
}

.has-text-gitlab-dark {
  color: hsl(13.6, 79.2%, 43%) !important;
}

a.has-text-gitlab-dark:hover, a.has-text-gitlab-dark:focus {
  color: hsl(13.6, 79.2%, 53%) !important;
}

.has-background-gitlab-dark {
  background-color: hsl(13.6, 79.2%, 43%) !important;
}

.no-animation {
  transition-property: none !important;
}