/*! bulma-social v2.1.0 | MIT License | github.com/aldi/bulma-social */
.button {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
       -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.no-animation {
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.button.is-youtube {
  background-color: red;
  border-color: transparent;
  color: #fff;
}

.button.is-youtube:hover, .button.is-youtube.is-hovered {
  background-color: #f20000;
  border-color: transparent;
  color: #fff;
}

.button.is-youtube:focus, .button.is-youtube.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-youtube:focus:not(:active), .button.is-youtube.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(255, 0, 0, 0.25);
          box-shadow: 0 0 0 0.125em rgba(255, 0, 0, 0.25);
}

.button.is-youtube:active, .button.is-youtube.is-active {
  background-color: #e60000;
  border-color: transparent;
  color: #fff;
}

.button.is-youtube[disabled],
fieldset[disabled] .button.is-youtube {
  background-color: red;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-youtube.is-inverted {
  background-color: #fff;
  color: red;
}

.button.is-youtube.is-inverted:hover, .button.is-youtube.is-inverted.is-hovered {
  background-color: #f2f2f2;
}

.button.is-youtube.is-inverted[disabled],
fieldset[disabled] .button.is-youtube.is-inverted {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: red;
}

.button.is-youtube.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-youtube.is-outlined {
  background-color: transparent;
  border-color: red;
  color: red;
}

.button.is-youtube.is-outlined:hover, .button.is-youtube.is-outlined.is-hovered, .button.is-youtube.is-outlined:focus, .button.is-youtube.is-outlined.is-focused {
  background-color: red;
  border-color: red;
  color: #fff;
}

.button.is-youtube.is-outlined.is-loading::after {
  border-color: transparent transparent red red !important;
}

.button.is-youtube.is-outlined.is-loading:hover::after, .button.is-youtube.is-outlined.is-loading.is-hovered::after, .button.is-youtube.is-outlined.is-loading:focus::after, .button.is-youtube.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-youtube.is-outlined[disabled],
fieldset[disabled] .button.is-youtube.is-outlined {
  background-color: transparent;
  border-color: red;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: red;
}

.button.is-youtube.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-youtube.is-inverted.is-outlined:hover, .button.is-youtube.is-inverted.is-outlined.is-hovered, .button.is-youtube.is-inverted.is-outlined:focus, .button.is-youtube.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: red;
}

.button.is-youtube.is-inverted.is-outlined.is-loading:hover::after, .button.is-youtube.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-youtube.is-inverted.is-outlined.is-loading:focus::after, .button.is-youtube.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent red red !important;
}

.button.is-youtube.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-youtube.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.button.is-youtube.is-light {
  background-color: #ffebeb;
  color: #eb0000;
}

.button.is-youtube.is-light:hover, .button.is-youtube.is-light.is-hovered {
  background-color: #ffdede;
  border-color: transparent;
  color: #eb0000;
}

.button.is-youtube.is-light:active, .button.is-youtube.is-light.is-active {
  background-color: #ffd1d1;
  border-color: transparent;
  color: #eb0000;
}

.button.is-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.has-text-youtube {
  color: red !important;
}

a.has-text-youtube:hover, a.has-text-youtube:focus {
  color: #cc0000 !important;
}

.has-background-youtube {
  background-color: red !important;
}

.has-text-youtube-light {
  color: #ffebeb !important;
}

a.has-text-youtube-light:hover, a.has-text-youtube-light:focus {
  color: #ffb8b8 !important;
}

.has-background-youtube-light {
  background-color: #ffebeb !important;
}

.has-text-youtube-dark {
  color: #eb0000 !important;
}

a.has-text-youtube-dark:hover, a.has-text-youtube-dark:focus {
  color: #ff1f1f !important;
}

.has-background-youtube-dark {
  background-color: #eb0000 !important;
}
