/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-youtube {
  background-color: hsl(0, 100%, 50%);
  border-color: transparent;
  color: #fff;
}
.button.is-youtube:hover, .button.is-youtube.is-hovered {
  background-color: hsl(0, 100%, 47.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-youtube:focus, .button.is-youtube.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-youtube:focus:not(:active), .button.is-youtube.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(0, 100%, 50%, 0.25);
}
.button.is-youtube:active, .button.is-youtube.is-active {
  background-color: hsl(0, 100%, 45%);
  border-color: transparent;
  color: #fff;
}
.button.is-youtube[disabled], fieldset[disabled] .button.is-youtube {
  background-color: hsl(0, 100%, 50%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-youtube.is-inverted {
  background-color: #fff;
  color: hsl(0, 100%, 50%);
}
.button.is-youtube.is-inverted:hover, .button.is-youtube.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-youtube.is-inverted[disabled], fieldset[disabled] .button.is-youtube.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(0, 100%, 50%);
}
.button.is-youtube.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-youtube.is-outlined {
  background-color: transparent;
  border-color: hsl(0, 100%, 50%);
  color: hsl(0, 100%, 50%);
}
.button.is-youtube.is-outlined:hover, .button.is-youtube.is-outlined.is-hovered, .button.is-youtube.is-outlined:focus, .button.is-youtube.is-outlined.is-focused {
  background-color: hsl(0, 100%, 50%);
  border-color: hsl(0, 100%, 50%);
  color: #fff;
}
.button.is-youtube.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(0, 100%, 50%) hsl(0, 100%, 50%) !important;
}
.button.is-youtube.is-outlined.is-loading:hover::after, .button.is-youtube.is-outlined.is-loading.is-hovered::after, .button.is-youtube.is-outlined.is-loading:focus::after, .button.is-youtube.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-youtube.is-outlined[disabled], fieldset[disabled] .button.is-youtube.is-outlined {
  background-color: transparent;
  border-color: hsl(0, 100%, 50%);
  box-shadow: none;
  color: hsl(0, 100%, 50%);
}
.button.is-youtube.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-youtube.is-inverted.is-outlined:hover, .button.is-youtube.is-inverted.is-outlined.is-hovered, .button.is-youtube.is-inverted.is-outlined:focus, .button.is-youtube.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(0, 100%, 50%);
}
.button.is-youtube.is-inverted.is-outlined.is-loading:hover::after, .button.is-youtube.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-youtube.is-inverted.is-outlined.is-loading:focus::after, .button.is-youtube.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(0, 100%, 50%) hsl(0, 100%, 50%) !important;
}
.button.is-youtube.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-youtube.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-youtube.is-light {
  background-color: hsl(0, 100%, 96%);
  color: hsl(0, 100%, 46%);
}
.button.is-youtube.is-light:hover, .button.is-youtube.is-light.is-hovered {
  background-color: hsl(0, 100%, 93.5%);
  border-color: transparent;
  color: hsl(0, 100%, 46%);
}
.button.is-youtube.is-light:active, .button.is-youtube.is-light.is-active {
  background-color: hsl(0, 100%, 91%);
  border-color: transparent;
  color: hsl(0, 100%, 46%);
}
.button.is-youtube.is-dark {
  background-color: hsl(0, 100%, 46%);
  color: #fff;
}
.button.is-youtube.is-dark:hover, .button.is-youtube.is-dark.is-hovered {
  background-color: hsl(0, 100%, 43.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-youtube.is-dark:active, .button.is-youtube.is-dark.is-active {
  background-color: hsl(0, 100%, 41%);
  border-color: transparent;
  color: #fff;
}

.has-text-youtube {
  color: hsl(0, 100%, 50%) !important;
}

a.has-text-youtube:hover, a.has-text-youtube:focus {
  color: hsl(0, 100%, 40%) !important;
}

.has-background-youtube {
  background-color: hsl(0, 100%, 50%) !important;
}

.has-text-youtube-light {
  color: hsl(0, 100%, 96%) !important;
}

a.has-text-youtube-light:hover, a.has-text-youtube-light:focus {
  color: hsl(0, 100%, 86%) !important;
}

.has-background-youtube-light {
  background-color: hsl(0, 100%, 96%) !important;
}

.has-text-youtube-dark {
  color: hsl(0, 100%, 46%) !important;
}

a.has-text-youtube-dark:hover, a.has-text-youtube-dark:focus {
  color: hsl(0, 100%, 56%) !important;
}

.has-background-youtube-dark {
  background-color: hsl(0, 100%, 46%) !important;
}

.no-animation {
  transition-property: none !important;
}