/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-yahoo {
  background-color: hsl(266.7, 100%, 28.2%);
  border-color: transparent;
  color: #fff;
}
.button.is-yahoo:hover, .button.is-yahoo.is-hovered {
  background-color: hsl(266.7, 100%, 25.7%);
  border-color: transparent;
  color: #fff;
}
.button.is-yahoo:focus, .button.is-yahoo.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-yahoo:focus:not(:active), .button.is-yahoo.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(266.7, 100%, 28.2%, 0.25);
}
.button.is-yahoo:active, .button.is-yahoo.is-active {
  background-color: hsl(266.7, 100%, 23.2%);
  border-color: transparent;
  color: #fff;
}
.button.is-yahoo[disabled], fieldset[disabled] .button.is-yahoo {
  background-color: hsl(266.7, 100%, 28.2%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-yahoo.is-inverted {
  background-color: #fff;
  color: hsl(266.7, 100%, 28.2%);
}
.button.is-yahoo.is-inverted:hover, .button.is-yahoo.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-yahoo.is-inverted[disabled], fieldset[disabled] .button.is-yahoo.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(266.7, 100%, 28.2%);
}
.button.is-yahoo.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-yahoo.is-outlined {
  background-color: transparent;
  border-color: hsl(266.7, 100%, 28.2%);
  color: hsl(266.7, 100%, 28.2%);
}
.button.is-yahoo.is-outlined:hover, .button.is-yahoo.is-outlined.is-hovered, .button.is-yahoo.is-outlined:focus, .button.is-yahoo.is-outlined.is-focused {
  background-color: hsl(266.7, 100%, 28.2%);
  border-color: hsl(266.7, 100%, 28.2%);
  color: #fff;
}
.button.is-yahoo.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(266.7, 100%, 28.2%) hsl(266.7, 100%, 28.2%) !important;
}
.button.is-yahoo.is-outlined.is-loading:hover::after, .button.is-yahoo.is-outlined.is-loading.is-hovered::after, .button.is-yahoo.is-outlined.is-loading:focus::after, .button.is-yahoo.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-yahoo.is-outlined[disabled], fieldset[disabled] .button.is-yahoo.is-outlined {
  background-color: transparent;
  border-color: hsl(266.7, 100%, 28.2%);
  box-shadow: none;
  color: hsl(266.7, 100%, 28.2%);
}
.button.is-yahoo.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-yahoo.is-inverted.is-outlined:hover, .button.is-yahoo.is-inverted.is-outlined.is-hovered, .button.is-yahoo.is-inverted.is-outlined:focus, .button.is-yahoo.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(266.7, 100%, 28.2%);
}
.button.is-yahoo.is-inverted.is-outlined.is-loading:hover::after, .button.is-yahoo.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-yahoo.is-inverted.is-outlined.is-loading:focus::after, .button.is-yahoo.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(266.7, 100%, 28.2%) hsl(266.7, 100%, 28.2%) !important;
}
.button.is-yahoo.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-yahoo.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-yahoo.is-light {
  background-color: hsl(266.7, 100%, 96%);
  color: hsl(266.7, 100%, 28.2%);
}
.button.is-yahoo.is-light:hover, .button.is-yahoo.is-light.is-hovered {
  background-color: hsl(266.7, 100%, 93.5%);
  border-color: transparent;
  color: hsl(266.7, 100%, 28.2%);
}
.button.is-yahoo.is-light:active, .button.is-yahoo.is-light.is-active {
  background-color: hsl(266.7, 100%, 91%);
  border-color: transparent;
  color: hsl(266.7, 100%, 28.2%);
}
.button.is-yahoo.is-dark {
  background-color: hsl(266.7, 100%, 28.2%);
  color: #fff;
}
.button.is-yahoo.is-dark:hover, .button.is-yahoo.is-dark.is-hovered {
  background-color: hsl(266.7, 100%, 25.7%);
  border-color: transparent;
  color: #fff;
}
.button.is-yahoo.is-dark:active, .button.is-yahoo.is-dark.is-active {
  background-color: hsl(266.7, 100%, 23.2%);
  border-color: transparent;
  color: #fff;
}

.has-text-yahoo {
  color: hsl(266.7, 100%, 28.2%) !important;
}

a.has-text-yahoo:hover, a.has-text-yahoo:focus {
  color: hsl(266.7, 100%, 18.2%) !important;
}

.has-background-yahoo {
  background-color: hsl(266.7, 100%, 28.2%) !important;
}

.has-text-yahoo-light {
  color: hsl(266.7, 100%, 96%) !important;
}

a.has-text-yahoo-light:hover, a.has-text-yahoo-light:focus {
  color: hsl(266.7, 100%, 86%) !important;
}

.has-background-yahoo-light {
  background-color: hsl(266.7, 100%, 96%) !important;
}

.has-text-yahoo-dark {
  color: hsl(266.7, 100%, 28.2%) !important;
}

a.has-text-yahoo-dark:hover, a.has-text-yahoo-dark:focus {
  color: hsl(266.7, 100%, 38.2%) !important;
}

.has-background-yahoo-dark {
  background-color: hsl(266.7, 100%, 28.2%) !important;
}

.no-animation {
  transition-property: none !important;
}