/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-linkedin {
  background-color: hsl(210, 90.2%, 40%);
  border-color: transparent;
  color: #fff;
}
.button.is-linkedin:hover, .button.is-linkedin.is-hovered {
  background-color: hsl(210, 90.2%, 37.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-linkedin:focus, .button.is-linkedin.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-linkedin:focus:not(:active), .button.is-linkedin.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(210, 90.2%, 40%, 0.25);
}
.button.is-linkedin:active, .button.is-linkedin.is-active {
  background-color: hsl(210, 90.2%, 35%);
  border-color: transparent;
  color: #fff;
}
.button.is-linkedin[disabled], fieldset[disabled] .button.is-linkedin {
  background-color: hsl(210, 90.2%, 40%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-linkedin.is-inverted {
  background-color: #fff;
  color: hsl(210, 90.2%, 40%);
}
.button.is-linkedin.is-inverted:hover, .button.is-linkedin.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-linkedin.is-inverted[disabled], fieldset[disabled] .button.is-linkedin.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(210, 90.2%, 40%);
}
.button.is-linkedin.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-linkedin.is-outlined {
  background-color: transparent;
  border-color: hsl(210, 90.2%, 40%);
  color: hsl(210, 90.2%, 40%);
}
.button.is-linkedin.is-outlined:hover, .button.is-linkedin.is-outlined.is-hovered, .button.is-linkedin.is-outlined:focus, .button.is-linkedin.is-outlined.is-focused {
  background-color: hsl(210, 90.2%, 40%);
  border-color: hsl(210, 90.2%, 40%);
  color: #fff;
}
.button.is-linkedin.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(210, 90.2%, 40%) hsl(210, 90.2%, 40%) !important;
}
.button.is-linkedin.is-outlined.is-loading:hover::after, .button.is-linkedin.is-outlined.is-loading.is-hovered::after, .button.is-linkedin.is-outlined.is-loading:focus::after, .button.is-linkedin.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-linkedin.is-outlined[disabled], fieldset[disabled] .button.is-linkedin.is-outlined {
  background-color: transparent;
  border-color: hsl(210, 90.2%, 40%);
  box-shadow: none;
  color: hsl(210, 90.2%, 40%);
}
.button.is-linkedin.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-linkedin.is-inverted.is-outlined:hover, .button.is-linkedin.is-inverted.is-outlined.is-hovered, .button.is-linkedin.is-inverted.is-outlined:focus, .button.is-linkedin.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(210, 90.2%, 40%);
}
.button.is-linkedin.is-inverted.is-outlined.is-loading:hover::after, .button.is-linkedin.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-linkedin.is-inverted.is-outlined.is-loading:focus::after, .button.is-linkedin.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(210, 90.2%, 40%) hsl(210, 90.2%, 40%) !important;
}
.button.is-linkedin.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-linkedin.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-linkedin.is-light {
  background-color: hsl(210, 90.2%, 96%);
  color: hsl(210, 90.2%, 40%);
}
.button.is-linkedin.is-light:hover, .button.is-linkedin.is-light.is-hovered {
  background-color: hsl(210, 90.2%, 93.5%);
  border-color: transparent;
  color: hsl(210, 90.2%, 40%);
}
.button.is-linkedin.is-light:active, .button.is-linkedin.is-light.is-active {
  background-color: hsl(210, 90.2%, 91%);
  border-color: transparent;
  color: hsl(210, 90.2%, 40%);
}
.button.is-linkedin.is-dark {
  background-color: hsl(210, 90.2%, 40%);
  color: #fff;
}
.button.is-linkedin.is-dark:hover, .button.is-linkedin.is-dark.is-hovered {
  background-color: hsl(210, 90.2%, 37.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-linkedin.is-dark:active, .button.is-linkedin.is-dark.is-active {
  background-color: hsl(210, 90.2%, 35%);
  border-color: transparent;
  color: #fff;
}

.has-text-linkedin {
  color: hsl(210, 90.2%, 40%) !important;
}

a.has-text-linkedin:hover, a.has-text-linkedin:focus {
  color: hsl(210, 90.2%, 30%) !important;
}

.has-background-linkedin {
  background-color: hsl(210, 90.2%, 40%) !important;
}

.has-text-linkedin-light {
  color: hsl(210, 90.2%, 96%) !important;
}

a.has-text-linkedin-light:hover, a.has-text-linkedin-light:focus {
  color: hsl(210, 90.2%, 86%) !important;
}

.has-background-linkedin-light {
  background-color: hsl(210, 90.2%, 96%) !important;
}

.has-text-linkedin-dark {
  color: hsl(210, 90.2%, 40%) !important;
}

a.has-text-linkedin-dark:hover, a.has-text-linkedin-dark:focus {
  color: hsl(210, 90.2%, 50%) !important;
}

.has-background-linkedin-dark {
  background-color: hsl(210, 90.2%, 40%) !important;
}

.no-animation {
  transition-property: none !important;
}