/*! bulma-social v2.1.0 | MIT License | github.com/aldi/bulma-social */
.button {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
       -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.no-animation {
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.button.is-flickr {
  background-color: #ff0084;
  border-color: transparent;
  color: #fff;
}

.button.is-flickr:hover, .button.is-flickr.is-hovered {
  background-color: #f2007d;
  border-color: transparent;
  color: #fff;
}

.button.is-flickr:focus, .button.is-flickr.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-flickr:focus:not(:active), .button.is-flickr.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(255, 0, 132, 0.25);
          box-shadow: 0 0 0 0.125em rgba(255, 0, 132, 0.25);
}

.button.is-flickr:active, .button.is-flickr.is-active {
  background-color: #e60077;
  border-color: transparent;
  color: #fff;
}

.button.is-flickr[disabled],
fieldset[disabled] .button.is-flickr {
  background-color: #ff0084;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-flickr.is-inverted {
  background-color: #fff;
  color: #ff0084;
}

.button.is-flickr.is-inverted:hover, .button.is-flickr.is-inverted.is-hovered {
  background-color: #f2f2f2;
}

.button.is-flickr.is-inverted[disabled],
fieldset[disabled] .button.is-flickr.is-inverted {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ff0084;
}

.button.is-flickr.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-flickr.is-outlined {
  background-color: transparent;
  border-color: #ff0084;
  color: #ff0084;
}

.button.is-flickr.is-outlined:hover, .button.is-flickr.is-outlined.is-hovered, .button.is-flickr.is-outlined:focus, .button.is-flickr.is-outlined.is-focused {
  background-color: #ff0084;
  border-color: #ff0084;
  color: #fff;
}

.button.is-flickr.is-outlined.is-loading::after {
  border-color: transparent transparent #ff0084 #ff0084 !important;
}

.button.is-flickr.is-outlined.is-loading:hover::after, .button.is-flickr.is-outlined.is-loading.is-hovered::after, .button.is-flickr.is-outlined.is-loading:focus::after, .button.is-flickr.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-flickr.is-outlined[disabled],
fieldset[disabled] .button.is-flickr.is-outlined {
  background-color: transparent;
  border-color: #ff0084;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ff0084;
}

.button.is-flickr.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-flickr.is-inverted.is-outlined:hover, .button.is-flickr.is-inverted.is-outlined.is-hovered, .button.is-flickr.is-inverted.is-outlined:focus, .button.is-flickr.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: #ff0084;
}

.button.is-flickr.is-inverted.is-outlined.is-loading:hover::after, .button.is-flickr.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-flickr.is-inverted.is-outlined.is-loading:focus::after, .button.is-flickr.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #ff0084 #ff0084 !important;
}

.button.is-flickr.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-flickr.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.button.is-flickr.is-light {
  background-color: #ffebf5;
  color: #e60077;
}

.button.is-flickr.is-light:hover, .button.is-flickr.is-light.is-hovered {
  background-color: #ffdeef;
  border-color: transparent;
  color: #e60077;
}

.button.is-flickr.is-light:active, .button.is-flickr.is-light.is-active {
  background-color: #ffd1e9;
  border-color: transparent;
  color: #e60077;
}

.button.is-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.has-text-flickr {
  color: #ff0084 !important;
}

a.has-text-flickr:hover, a.has-text-flickr:focus {
  color: #cc0069 !important;
}

.has-background-flickr {
  background-color: #ff0084 !important;
}

.has-text-flickr-light {
  color: #ffebf5 !important;
}

a.has-text-flickr-light:hover, a.has-text-flickr-light:focus {
  color: #ffb8dc !important;
}

.has-background-flickr-light {
  background-color: #ffebf5 !important;
}

.has-text-flickr-dark {
  color: #e60077 !important;
}

a.has-text-flickr-dark:hover, a.has-text-flickr-dark:focus {
  color: #ff1a90 !important;
}

.has-background-flickr-dark {
  background-color: #e60077 !important;
}
