/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-flickr {
  background-color: hsl(329, 100%, 50%);
  border-color: transparent;
  color: #fff;
}
.button.is-flickr:hover, .button.is-flickr.is-hovered {
  background-color: hsl(329, 100%, 47.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-flickr:focus, .button.is-flickr.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-flickr:focus:not(:active), .button.is-flickr.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(329, 100%, 50%, 0.25);
}
.button.is-flickr:active, .button.is-flickr.is-active {
  background-color: hsl(329, 100%, 45%);
  border-color: transparent;
  color: #fff;
}
.button.is-flickr[disabled], fieldset[disabled] .button.is-flickr {
  background-color: hsl(329, 100%, 50%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-flickr.is-inverted {
  background-color: #fff;
  color: hsl(329, 100%, 50%);
}
.button.is-flickr.is-inverted:hover, .button.is-flickr.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-flickr.is-inverted[disabled], fieldset[disabled] .button.is-flickr.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(329, 100%, 50%);
}
.button.is-flickr.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-flickr.is-outlined {
  background-color: transparent;
  border-color: hsl(329, 100%, 50%);
  color: hsl(329, 100%, 50%);
}
.button.is-flickr.is-outlined:hover, .button.is-flickr.is-outlined.is-hovered, .button.is-flickr.is-outlined:focus, .button.is-flickr.is-outlined.is-focused {
  background-color: hsl(329, 100%, 50%);
  border-color: hsl(329, 100%, 50%);
  color: #fff;
}
.button.is-flickr.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(329, 100%, 50%) hsl(329, 100%, 50%) !important;
}
.button.is-flickr.is-outlined.is-loading:hover::after, .button.is-flickr.is-outlined.is-loading.is-hovered::after, .button.is-flickr.is-outlined.is-loading:focus::after, .button.is-flickr.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-flickr.is-outlined[disabled], fieldset[disabled] .button.is-flickr.is-outlined {
  background-color: transparent;
  border-color: hsl(329, 100%, 50%);
  box-shadow: none;
  color: hsl(329, 100%, 50%);
}
.button.is-flickr.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-flickr.is-inverted.is-outlined:hover, .button.is-flickr.is-inverted.is-outlined.is-hovered, .button.is-flickr.is-inverted.is-outlined:focus, .button.is-flickr.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(329, 100%, 50%);
}
.button.is-flickr.is-inverted.is-outlined.is-loading:hover::after, .button.is-flickr.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-flickr.is-inverted.is-outlined.is-loading:focus::after, .button.is-flickr.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(329, 100%, 50%) hsl(329, 100%, 50%) !important;
}
.button.is-flickr.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-flickr.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-flickr.is-light {
  background-color: hsl(329, 100%, 96%);
  color: hsl(329, 100%, 45%);
}
.button.is-flickr.is-light:hover, .button.is-flickr.is-light.is-hovered {
  background-color: hsl(329, 100%, 93.5%);
  border-color: transparent;
  color: hsl(329, 100%, 45%);
}
.button.is-flickr.is-light:active, .button.is-flickr.is-light.is-active {
  background-color: hsl(329, 100%, 91%);
  border-color: transparent;
  color: hsl(329, 100%, 45%);
}
.button.is-flickr.is-dark {
  background-color: hsl(329, 100%, 45%);
  color: #fff;
}
.button.is-flickr.is-dark:hover, .button.is-flickr.is-dark.is-hovered {
  background-color: hsl(329, 100%, 42.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-flickr.is-dark:active, .button.is-flickr.is-dark.is-active {
  background-color: hsl(329, 100%, 40%);
  border-color: transparent;
  color: #fff;
}

.has-text-flickr {
  color: hsl(329, 100%, 50%) !important;
}

a.has-text-flickr:hover, a.has-text-flickr:focus {
  color: hsl(329, 100%, 40%) !important;
}

.has-background-flickr {
  background-color: hsl(329, 100%, 50%) !important;
}

.has-text-flickr-light {
  color: hsl(329, 100%, 96%) !important;
}

a.has-text-flickr-light:hover, a.has-text-flickr-light:focus {
  color: hsl(329, 100%, 86%) !important;
}

.has-background-flickr-light {
  background-color: hsl(329, 100%, 96%) !important;
}

.has-text-flickr-dark {
  color: hsl(329, 100%, 45%) !important;
}

a.has-text-flickr-dark:hover, a.has-text-flickr-dark:focus {
  color: hsl(329, 100%, 55%) !important;
}

.has-background-flickr-dark {
  background-color: hsl(329, 100%, 45%) !important;
}

.no-animation {
  transition-property: none !important;
}