/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-facebook {
  background-color: hsl(213.9, 89.3%, 52.2%);
  border-color: transparent;
  color: #fff;
}
.button.is-facebook:hover, .button.is-facebook.is-hovered {
  background-color: hsl(213.9, 89.3%, 49.7%);
  border-color: transparent;
  color: #fff;
}
.button.is-facebook:focus, .button.is-facebook.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-facebook:focus:not(:active), .button.is-facebook.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(213.9, 89.3%, 52.2%, 0.25);
}
.button.is-facebook:active, .button.is-facebook.is-active {
  background-color: hsl(213.9, 89.3%, 47.2%);
  border-color: transparent;
  color: #fff;
}
.button.is-facebook[disabled], fieldset[disabled] .button.is-facebook {
  background-color: hsl(213.9, 89.3%, 52.2%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-facebook.is-inverted {
  background-color: #fff;
  color: hsl(213.9, 89.3%, 52.2%);
}
.button.is-facebook.is-inverted:hover, .button.is-facebook.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-facebook.is-inverted[disabled], fieldset[disabled] .button.is-facebook.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(213.9, 89.3%, 52.2%);
}
.button.is-facebook.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-facebook.is-outlined {
  background-color: transparent;
  border-color: hsl(213.9, 89.3%, 52.2%);
  color: hsl(213.9, 89.3%, 52.2%);
}
.button.is-facebook.is-outlined:hover, .button.is-facebook.is-outlined.is-hovered, .button.is-facebook.is-outlined:focus, .button.is-facebook.is-outlined.is-focused {
  background-color: hsl(213.9, 89.3%, 52.2%);
  border-color: hsl(213.9, 89.3%, 52.2%);
  color: #fff;
}
.button.is-facebook.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(213.9, 89.3%, 52.2%) hsl(213.9, 89.3%, 52.2%) !important;
}
.button.is-facebook.is-outlined.is-loading:hover::after, .button.is-facebook.is-outlined.is-loading.is-hovered::after, .button.is-facebook.is-outlined.is-loading:focus::after, .button.is-facebook.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-facebook.is-outlined[disabled], fieldset[disabled] .button.is-facebook.is-outlined {
  background-color: transparent;
  border-color: hsl(213.9, 89.3%, 52.2%);
  box-shadow: none;
  color: hsl(213.9, 89.3%, 52.2%);
}
.button.is-facebook.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-facebook.is-inverted.is-outlined:hover, .button.is-facebook.is-inverted.is-outlined.is-hovered, .button.is-facebook.is-inverted.is-outlined:focus, .button.is-facebook.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(213.9, 89.3%, 52.2%);
}
.button.is-facebook.is-inverted.is-outlined.is-loading:hover::after, .button.is-facebook.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-facebook.is-inverted.is-outlined.is-loading:focus::after, .button.is-facebook.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(213.9, 89.3%, 52.2%) hsl(213.9, 89.3%, 52.2%) !important;
}
.button.is-facebook.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-facebook.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-facebook.is-light {
  background-color: hsl(213.9, 89.3%, 96%);
  color: hsl(213.9, 89.3%, 44%);
}
.button.is-facebook.is-light:hover, .button.is-facebook.is-light.is-hovered {
  background-color: hsl(213.9, 89.3%, 93.5%);
  border-color: transparent;
  color: hsl(213.9, 89.3%, 44%);
}
.button.is-facebook.is-light:active, .button.is-facebook.is-light.is-active {
  background-color: hsl(213.9, 89.3%, 91%);
  border-color: transparent;
  color: hsl(213.9, 89.3%, 44%);
}
.button.is-facebook.is-dark {
  background-color: hsl(213.9, 89.3%, 44%);
  color: #fff;
}
.button.is-facebook.is-dark:hover, .button.is-facebook.is-dark.is-hovered {
  background-color: hsl(213.9, 89.3%, 41.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-facebook.is-dark:active, .button.is-facebook.is-dark.is-active {
  background-color: hsl(213.9, 89.3%, 39%);
  border-color: transparent;
  color: #fff;
}

.has-text-facebook {
  color: hsl(213.9, 89.3%, 52.2%) !important;
}

a.has-text-facebook:hover, a.has-text-facebook:focus {
  color: hsl(213.9, 89.3%, 42.2%) !important;
}

.has-background-facebook {
  background-color: hsl(213.9, 89.3%, 52.2%) !important;
}

.has-text-facebook-light {
  color: hsl(213.9, 89.3%, 96%) !important;
}

a.has-text-facebook-light:hover, a.has-text-facebook-light:focus {
  color: hsl(213.9, 89.3%, 86%) !important;
}

.has-background-facebook-light {
  background-color: hsl(213.9, 89.3%, 96%) !important;
}

.has-text-facebook-dark {
  color: hsl(213.9, 89.3%, 44%) !important;
}

a.has-text-facebook-dark:hover, a.has-text-facebook-dark:focus {
  color: hsl(213.9, 89.3%, 54%) !important;
}

.has-background-facebook-dark {
  background-color: hsl(213.9, 89.3%, 44%) !important;
}

.no-animation {
  transition-property: none !important;
}