/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-apple {
  background-color: hsl(0, 0%, 0%);
  border-color: transparent;
  color: #fff;
}
.button.is-apple:hover, .button.is-apple.is-hovered {
  background-color: hsl(0, 0%, -2.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-apple:focus, .button.is-apple.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-apple:focus:not(:active), .button.is-apple.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(0, 0%, 0%, 0.25);
}
.button.is-apple:active, .button.is-apple.is-active {
  background-color: hsl(0, 0%, -5%);
  border-color: transparent;
  color: #fff;
}
.button.is-apple[disabled], fieldset[disabled] .button.is-apple {
  background-color: hsl(0, 0%, 0%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-apple.is-inverted {
  background-color: #fff;
  color: hsl(0, 0%, 0%);
}
.button.is-apple.is-inverted:hover, .button.is-apple.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-apple.is-inverted[disabled], fieldset[disabled] .button.is-apple.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(0, 0%, 0%);
}
.button.is-apple.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-apple.is-outlined {
  background-color: transparent;
  border-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
}
.button.is-apple.is-outlined:hover, .button.is-apple.is-outlined.is-hovered, .button.is-apple.is-outlined:focus, .button.is-apple.is-outlined.is-focused {
  background-color: hsl(0, 0%, 0%);
  border-color: hsl(0, 0%, 0%);
  color: #fff;
}
.button.is-apple.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(0, 0%, 0%) hsl(0, 0%, 0%) !important;
}
.button.is-apple.is-outlined.is-loading:hover::after, .button.is-apple.is-outlined.is-loading.is-hovered::after, .button.is-apple.is-outlined.is-loading:focus::after, .button.is-apple.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-apple.is-outlined[disabled], fieldset[disabled] .button.is-apple.is-outlined {
  background-color: transparent;
  border-color: hsl(0, 0%, 0%);
  box-shadow: none;
  color: hsl(0, 0%, 0%);
}
.button.is-apple.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-apple.is-inverted.is-outlined:hover, .button.is-apple.is-inverted.is-outlined.is-hovered, .button.is-apple.is-inverted.is-outlined:focus, .button.is-apple.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(0, 0%, 0%);
}
.button.is-apple.is-inverted.is-outlined.is-loading:hover::after, .button.is-apple.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-apple.is-inverted.is-outlined.is-loading:focus::after, .button.is-apple.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(0, 0%, 0%) hsl(0, 0%, 0%) !important;
}
.button.is-apple.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-apple.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-apple.is-light {
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 0%);
}
.button.is-apple.is-light:hover, .button.is-apple.is-light.is-hovered {
  background-color: hsl(0, 0%, 93.5%);
  border-color: transparent;
  color: hsl(0, 0%, 0%);
}
.button.is-apple.is-light:active, .button.is-apple.is-light.is-active {
  background-color: hsl(0, 0%, 91%);
  border-color: transparent;
  color: hsl(0, 0%, 0%);
}
.button.is-apple.is-dark {
  background-color: hsl(0, 0%, 0%);
  color: #fff;
}
.button.is-apple.is-dark:hover, .button.is-apple.is-dark.is-hovered {
  background-color: hsl(0, 0%, -2.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-apple.is-dark:active, .button.is-apple.is-dark.is-active {
  background-color: hsl(0, 0%, -5%);
  border-color: transparent;
  color: #fff;
}

.has-text-apple {
  color: hsl(0, 0%, 0%) !important;
}

a.has-text-apple:hover, a.has-text-apple:focus {
  color: hsl(0, 0%, -10%) !important;
}

.has-background-apple {
  background-color: hsl(0, 0%, 0%) !important;
}

.has-text-apple-light {
  color: hsl(0, 0%, 96%) !important;
}

a.has-text-apple-light:hover, a.has-text-apple-light:focus {
  color: hsl(0, 0%, 86%) !important;
}

.has-background-apple-light {
  background-color: hsl(0, 0%, 96%) !important;
}

.has-text-apple-dark {
  color: hsl(0, 0%, 0%) !important;
}

a.has-text-apple-dark:hover, a.has-text-apple-dark:focus {
  color: hsl(0, 0%, 10%) !important;
}

.has-background-apple-dark {
  background-color: hsl(0, 0%, 0%) !important;
}

.no-animation {
  transition-property: none !important;
}