/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-bitbucket {
  background-color: hsl(210, 60%, 31%);
  border-color: transparent;
  color: #fff;
}
.button.is-bitbucket:hover, .button.is-bitbucket.is-hovered {
  background-color: hsl(210, 60%, 28.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-bitbucket:focus, .button.is-bitbucket.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-bitbucket:focus:not(:active), .button.is-bitbucket.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(210, 60%, 31%, 0.25);
}
.button.is-bitbucket:active, .button.is-bitbucket.is-active {
  background-color: hsl(210, 60%, 26%);
  border-color: transparent;
  color: #fff;
}
.button.is-bitbucket[disabled], fieldset[disabled] .button.is-bitbucket {
  background-color: hsl(210, 60%, 31%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-bitbucket.is-inverted {
  background-color: #fff;
  color: hsl(210, 60%, 31%);
}
.button.is-bitbucket.is-inverted:hover, .button.is-bitbucket.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-bitbucket.is-inverted[disabled], fieldset[disabled] .button.is-bitbucket.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(210, 60%, 31%);
}
.button.is-bitbucket.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-bitbucket.is-outlined {
  background-color: transparent;
  border-color: hsl(210, 60%, 31%);
  color: hsl(210, 60%, 31%);
}
.button.is-bitbucket.is-outlined:hover, .button.is-bitbucket.is-outlined.is-hovered, .button.is-bitbucket.is-outlined:focus, .button.is-bitbucket.is-outlined.is-focused {
  background-color: hsl(210, 60%, 31%);
  border-color: hsl(210, 60%, 31%);
  color: #fff;
}
.button.is-bitbucket.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(210, 60%, 31%) hsl(210, 60%, 31%) !important;
}
.button.is-bitbucket.is-outlined.is-loading:hover::after, .button.is-bitbucket.is-outlined.is-loading.is-hovered::after, .button.is-bitbucket.is-outlined.is-loading:focus::after, .button.is-bitbucket.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-bitbucket.is-outlined[disabled], fieldset[disabled] .button.is-bitbucket.is-outlined {
  background-color: transparent;
  border-color: hsl(210, 60%, 31%);
  box-shadow: none;
  color: hsl(210, 60%, 31%);
}
.button.is-bitbucket.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-bitbucket.is-inverted.is-outlined:hover, .button.is-bitbucket.is-inverted.is-outlined.is-hovered, .button.is-bitbucket.is-inverted.is-outlined:focus, .button.is-bitbucket.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(210, 60%, 31%);
}
.button.is-bitbucket.is-inverted.is-outlined.is-loading:hover::after, .button.is-bitbucket.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-bitbucket.is-inverted.is-outlined.is-loading:focus::after, .button.is-bitbucket.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(210, 60%, 31%) hsl(210, 60%, 31%) !important;
}
.button.is-bitbucket.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-bitbucket.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-bitbucket.is-light {
  background-color: hsl(210, 60%, 96%);
  color: hsl(210, 60%, 31%);
}
.button.is-bitbucket.is-light:hover, .button.is-bitbucket.is-light.is-hovered {
  background-color: hsl(210, 60%, 93.5%);
  border-color: transparent;
  color: hsl(210, 60%, 31%);
}
.button.is-bitbucket.is-light:active, .button.is-bitbucket.is-light.is-active {
  background-color: hsl(210, 60%, 91%);
  border-color: transparent;
  color: hsl(210, 60%, 31%);
}
.button.is-bitbucket.is-dark {
  background-color: hsl(210, 60%, 31%);
  color: #fff;
}
.button.is-bitbucket.is-dark:hover, .button.is-bitbucket.is-dark.is-hovered {
  background-color: hsl(210, 60%, 28.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-bitbucket.is-dark:active, .button.is-bitbucket.is-dark.is-active {
  background-color: hsl(210, 60%, 26%);
  border-color: transparent;
  color: #fff;
}

.has-text-bitbucket {
  color: hsl(210, 60%, 31%) !important;
}

a.has-text-bitbucket:hover, a.has-text-bitbucket:focus {
  color: hsl(210, 60%, 21%) !important;
}

.has-background-bitbucket {
  background-color: hsl(210, 60%, 31%) !important;
}

.has-text-bitbucket-light {
  color: hsl(210, 60%, 96%) !important;
}

a.has-text-bitbucket-light:hover, a.has-text-bitbucket-light:focus {
  color: hsl(210, 60%, 86%) !important;
}

.has-background-bitbucket-light {
  background-color: hsl(210, 60%, 96%) !important;
}

.has-text-bitbucket-dark {
  color: hsl(210, 60%, 31%) !important;
}

a.has-text-bitbucket-dark:hover, a.has-text-bitbucket-dark:focus {
  color: hsl(210, 60%, 41%) !important;
}

.has-background-bitbucket-dark {
  background-color: hsl(210, 60%, 31%) !important;
}

.no-animation {
  transition-property: none !important;
}