/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-pinterest {
  background-color: hsl(350.9, 100%, 45.1%);
  border-color: transparent;
  color: #fff;
}
.button.is-pinterest:hover, .button.is-pinterest.is-hovered {
  background-color: hsl(350.9, 100%, 42.6%);
  border-color: transparent;
  color: #fff;
}
.button.is-pinterest:focus, .button.is-pinterest.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-pinterest:focus:not(:active), .button.is-pinterest.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(350.9, 100%, 45.1%, 0.25);
}
.button.is-pinterest:active, .button.is-pinterest.is-active {
  background-color: hsl(350.9, 100%, 40.1%);
  border-color: transparent;
  color: #fff;
}
.button.is-pinterest[disabled], fieldset[disabled] .button.is-pinterest {
  background-color: hsl(350.9, 100%, 45.1%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-pinterest.is-inverted {
  background-color: #fff;
  color: hsl(350.9, 100%, 45.1%);
}
.button.is-pinterest.is-inverted:hover, .button.is-pinterest.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-pinterest.is-inverted[disabled], fieldset[disabled] .button.is-pinterest.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(350.9, 100%, 45.1%);
}
.button.is-pinterest.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-pinterest.is-outlined {
  background-color: transparent;
  border-color: hsl(350.9, 100%, 45.1%);
  color: hsl(350.9, 100%, 45.1%);
}
.button.is-pinterest.is-outlined:hover, .button.is-pinterest.is-outlined.is-hovered, .button.is-pinterest.is-outlined:focus, .button.is-pinterest.is-outlined.is-focused {
  background-color: hsl(350.9, 100%, 45.1%);
  border-color: hsl(350.9, 100%, 45.1%);
  color: #fff;
}
.button.is-pinterest.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(350.9, 100%, 45.1%) hsl(350.9, 100%, 45.1%) !important;
}
.button.is-pinterest.is-outlined.is-loading:hover::after, .button.is-pinterest.is-outlined.is-loading.is-hovered::after, .button.is-pinterest.is-outlined.is-loading:focus::after, .button.is-pinterest.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-pinterest.is-outlined[disabled], fieldset[disabled] .button.is-pinterest.is-outlined {
  background-color: transparent;
  border-color: hsl(350.9, 100%, 45.1%);
  box-shadow: none;
  color: hsl(350.9, 100%, 45.1%);
}
.button.is-pinterest.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-pinterest.is-inverted.is-outlined:hover, .button.is-pinterest.is-inverted.is-outlined.is-hovered, .button.is-pinterest.is-inverted.is-outlined:focus, .button.is-pinterest.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(350.9, 100%, 45.1%);
}
.button.is-pinterest.is-inverted.is-outlined.is-loading:hover::after, .button.is-pinterest.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-pinterest.is-inverted.is-outlined.is-loading:focus::after, .button.is-pinterest.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(350.9, 100%, 45.1%) hsl(350.9, 100%, 45.1%) !important;
}
.button.is-pinterest.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-pinterest.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-pinterest.is-light {
  background-color: hsl(350.9, 100%, 96%);
  color: hsl(350.9, 100%, 45.1%);
}
.button.is-pinterest.is-light:hover, .button.is-pinterest.is-light.is-hovered {
  background-color: hsl(350.9, 100%, 93.5%);
  border-color: transparent;
  color: hsl(350.9, 100%, 45.1%);
}
.button.is-pinterest.is-light:active, .button.is-pinterest.is-light.is-active {
  background-color: hsl(350.9, 100%, 91%);
  border-color: transparent;
  color: hsl(350.9, 100%, 45.1%);
}
.button.is-pinterest.is-dark {
  background-color: hsl(350.9, 100%, 45.1%);
  color: #fff;
}
.button.is-pinterest.is-dark:hover, .button.is-pinterest.is-dark.is-hovered {
  background-color: hsl(350.9, 100%, 42.6%);
  border-color: transparent;
  color: #fff;
}
.button.is-pinterest.is-dark:active, .button.is-pinterest.is-dark.is-active {
  background-color: hsl(350.9, 100%, 40.1%);
  border-color: transparent;
  color: #fff;
}

.has-text-pinterest {
  color: hsl(350.9, 100%, 45.1%) !important;
}

a.has-text-pinterest:hover, a.has-text-pinterest:focus {
  color: hsl(350.9, 100%, 35.1%) !important;
}

.has-background-pinterest {
  background-color: hsl(350.9, 100%, 45.1%) !important;
}

.has-text-pinterest-light {
  color: hsl(350.9, 100%, 96%) !important;
}

a.has-text-pinterest-light:hover, a.has-text-pinterest-light:focus {
  color: hsl(350.9, 100%, 86%) !important;
}

.has-background-pinterest-light {
  background-color: hsl(350.9, 100%, 96%) !important;
}

.has-text-pinterest-dark {
  color: hsl(350.9, 100%, 45.1%) !important;
}

a.has-text-pinterest-dark:hover, a.has-text-pinterest-dark:focus {
  color: hsl(350.9, 100%, 55.1%) !important;
}

.has-background-pinterest-dark {
  background-color: hsl(350.9, 100%, 45.1%) !important;
}

.no-animation {
  transition-property: none !important;
}