.button.is-animated {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-property: background-color;
  transition-duration: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .button.is-animated {
    transition-duration: 0.01ms;
  }
}