/*! bulma-social v2.1.0 | MIT License | github.com/aldi/bulma-social */
.button {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
       -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.no-animation {
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.button.is-dropbox {
  background-color: #0061ff;
  border-color: transparent;
  color: #fff;
}

.button.is-dropbox:hover, .button.is-dropbox.is-hovered {
  background-color: #005cf2;
  border-color: transparent;
  color: #fff;
}

.button.is-dropbox:focus, .button.is-dropbox.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-dropbox:focus:not(:active), .button.is-dropbox.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(0, 97, 255, 0.25);
          box-shadow: 0 0 0 0.125em rgba(0, 97, 255, 0.25);
}

.button.is-dropbox:active, .button.is-dropbox.is-active {
  background-color: #0057e6;
  border-color: transparent;
  color: #fff;
}

.button.is-dropbox[disabled],
fieldset[disabled] .button.is-dropbox {
  background-color: #0061ff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-dropbox.is-inverted {
  background-color: #fff;
  color: #0061ff;
}

.button.is-dropbox.is-inverted:hover, .button.is-dropbox.is-inverted.is-hovered {
  background-color: #f2f2f2;
}

.button.is-dropbox.is-inverted[disabled],
fieldset[disabled] .button.is-dropbox.is-inverted {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #0061ff;
}

.button.is-dropbox.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-dropbox.is-outlined {
  background-color: transparent;
  border-color: #0061ff;
  color: #0061ff;
}

.button.is-dropbox.is-outlined:hover, .button.is-dropbox.is-outlined.is-hovered, .button.is-dropbox.is-outlined:focus, .button.is-dropbox.is-outlined.is-focused {
  background-color: #0061ff;
  border-color: #0061ff;
  color: #fff;
}

.button.is-dropbox.is-outlined.is-loading::after {
  border-color: transparent transparent #0061ff #0061ff !important;
}

.button.is-dropbox.is-outlined.is-loading:hover::after, .button.is-dropbox.is-outlined.is-loading.is-hovered::after, .button.is-dropbox.is-outlined.is-loading:focus::after, .button.is-dropbox.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-dropbox.is-outlined[disabled],
fieldset[disabled] .button.is-dropbox.is-outlined {
  background-color: transparent;
  border-color: #0061ff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #0061ff;
}

.button.is-dropbox.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-dropbox.is-inverted.is-outlined:hover, .button.is-dropbox.is-inverted.is-outlined.is-hovered, .button.is-dropbox.is-inverted.is-outlined:focus, .button.is-dropbox.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: #0061ff;
}

.button.is-dropbox.is-inverted.is-outlined.is-loading:hover::after, .button.is-dropbox.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-dropbox.is-inverted.is-outlined.is-loading:focus::after, .button.is-dropbox.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #0061ff #0061ff !important;
}

.button.is-dropbox.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-dropbox.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.button.is-dropbox.is-light {
  background-color: #ebf2ff;
  color: #005bf0;
}

.button.is-dropbox.is-light:hover, .button.is-dropbox.is-light.is-hovered {
  background-color: #deeaff;
  border-color: transparent;
  color: #005bf0;
}

.button.is-dropbox.is-light:active, .button.is-dropbox.is-light.is-active {
  background-color: #d1e3ff;
  border-color: transparent;
  color: #005bf0;
}

.button.is-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.has-text-dropbox {
  color: #0061ff !important;
}

a.has-text-dropbox:hover, a.has-text-dropbox:focus {
  color: #004ecc !important;
}

.has-background-dropbox {
  background-color: #0061ff !important;
}

.has-text-dropbox-light {
  color: #ebf2ff !important;
}

a.has-text-dropbox-light:hover, a.has-text-dropbox-light:focus {
  color: #b8d3ff !important;
}

.has-background-dropbox-light {
  background-color: #ebf2ff !important;
}

.has-text-dropbox-dark {
  color: #005bf0 !important;
}

a.has-text-dropbox-dark:hover, a.has-text-dropbox-dark:focus {
  color: #2477ff !important;
}

.has-background-dropbox-dark {
  background-color: #005bf0 !important;
}
