/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-dropbox {
  background-color: hsl(217.2, 100%, 50%);
  border-color: transparent;
  color: #fff;
}
.button.is-dropbox:hover, .button.is-dropbox.is-hovered {
  background-color: hsl(217.2, 100%, 47.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-dropbox:focus, .button.is-dropbox.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-dropbox:focus:not(:active), .button.is-dropbox.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(217.2, 100%, 50%, 0.25);
}
.button.is-dropbox:active, .button.is-dropbox.is-active {
  background-color: hsl(217.2, 100%, 45%);
  border-color: transparent;
  color: #fff;
}
.button.is-dropbox[disabled], fieldset[disabled] .button.is-dropbox {
  background-color: hsl(217.2, 100%, 50%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-dropbox.is-inverted {
  background-color: #fff;
  color: hsl(217.2, 100%, 50%);
}
.button.is-dropbox.is-inverted:hover, .button.is-dropbox.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-dropbox.is-inverted[disabled], fieldset[disabled] .button.is-dropbox.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(217.2, 100%, 50%);
}
.button.is-dropbox.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-dropbox.is-outlined {
  background-color: transparent;
  border-color: hsl(217.2, 100%, 50%);
  color: hsl(217.2, 100%, 50%);
}
.button.is-dropbox.is-outlined:hover, .button.is-dropbox.is-outlined.is-hovered, .button.is-dropbox.is-outlined:focus, .button.is-dropbox.is-outlined.is-focused {
  background-color: hsl(217.2, 100%, 50%);
  border-color: hsl(217.2, 100%, 50%);
  color: #fff;
}
.button.is-dropbox.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(217.2, 100%, 50%) hsl(217.2, 100%, 50%) !important;
}
.button.is-dropbox.is-outlined.is-loading:hover::after, .button.is-dropbox.is-outlined.is-loading.is-hovered::after, .button.is-dropbox.is-outlined.is-loading:focus::after, .button.is-dropbox.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-dropbox.is-outlined[disabled], fieldset[disabled] .button.is-dropbox.is-outlined {
  background-color: transparent;
  border-color: hsl(217.2, 100%, 50%);
  box-shadow: none;
  color: hsl(217.2, 100%, 50%);
}
.button.is-dropbox.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-dropbox.is-inverted.is-outlined:hover, .button.is-dropbox.is-inverted.is-outlined.is-hovered, .button.is-dropbox.is-inverted.is-outlined:focus, .button.is-dropbox.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(217.2, 100%, 50%);
}
.button.is-dropbox.is-inverted.is-outlined.is-loading:hover::after, .button.is-dropbox.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-dropbox.is-inverted.is-outlined.is-loading:focus::after, .button.is-dropbox.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(217.2, 100%, 50%) hsl(217.2, 100%, 50%) !important;
}
.button.is-dropbox.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-dropbox.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-dropbox.is-light {
  background-color: hsl(217.2, 100%, 96%);
  color: hsl(217.2, 100%, 47%);
}
.button.is-dropbox.is-light:hover, .button.is-dropbox.is-light.is-hovered {
  background-color: hsl(217.2, 100%, 93.5%);
  border-color: transparent;
  color: hsl(217.2, 100%, 47%);
}
.button.is-dropbox.is-light:active, .button.is-dropbox.is-light.is-active {
  background-color: hsl(217.2, 100%, 91%);
  border-color: transparent;
  color: hsl(217.2, 100%, 47%);
}
.button.is-dropbox.is-dark {
  background-color: hsl(217.2, 100%, 47%);
  color: #fff;
}
.button.is-dropbox.is-dark:hover, .button.is-dropbox.is-dark.is-hovered {
  background-color: hsl(217.2, 100%, 44.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-dropbox.is-dark:active, .button.is-dropbox.is-dark.is-active {
  background-color: hsl(217.2, 100%, 42%);
  border-color: transparent;
  color: #fff;
}

.has-text-dropbox {
  color: hsl(217.2, 100%, 50%) !important;
}

a.has-text-dropbox:hover, a.has-text-dropbox:focus {
  color: hsl(217.2, 100%, 40%) !important;
}

.has-background-dropbox {
  background-color: hsl(217.2, 100%, 50%) !important;
}

.has-text-dropbox-light {
  color: hsl(217.2, 100%, 96%) !important;
}

a.has-text-dropbox-light:hover, a.has-text-dropbox-light:focus {
  color: hsl(217.2, 100%, 86%) !important;
}

.has-background-dropbox-light {
  background-color: hsl(217.2, 100%, 96%) !important;
}

.has-text-dropbox-dark {
  color: hsl(217.2, 100%, 47%) !important;
}

a.has-text-dropbox-dark:hover, a.has-text-dropbox-dark:focus {
  color: hsl(217.2, 100%, 57%) !important;
}

.has-background-dropbox-dark {
  background-color: hsl(217.2, 100%, 47%) !important;
}

.no-animation {
  transition-property: none !important;
}