/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-openid {
  background-color: hsl(25, 85%, 55%);
  border-color: transparent;
  color: #fff;
}
.button.is-openid:hover, .button.is-openid.is-hovered {
  background-color: hsl(25, 85%, 52.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-openid:focus, .button.is-openid.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-openid:focus:not(:active), .button.is-openid.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(25, 85%, 55%, 0.25);
}
.button.is-openid:active, .button.is-openid.is-active {
  background-color: hsl(25, 85%, 50%);
  border-color: transparent;
  color: #fff;
}
.button.is-openid[disabled], fieldset[disabled] .button.is-openid {
  background-color: hsl(25, 85%, 55%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-openid.is-inverted {
  background-color: #fff;
  color: hsl(25, 85%, 55%);
}
.button.is-openid.is-inverted:hover, .button.is-openid.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-openid.is-inverted[disabled], fieldset[disabled] .button.is-openid.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(25, 85%, 55%);
}
.button.is-openid.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-openid.is-outlined {
  background-color: transparent;
  border-color: hsl(25, 85%, 55%);
  color: hsl(25, 85%, 55%);
}
.button.is-openid.is-outlined:hover, .button.is-openid.is-outlined.is-hovered, .button.is-openid.is-outlined:focus, .button.is-openid.is-outlined.is-focused {
  background-color: hsl(25, 85%, 55%);
  border-color: hsl(25, 85%, 55%);
  color: #fff;
}
.button.is-openid.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(25, 85%, 55%) hsl(25, 85%, 55%) !important;
}
.button.is-openid.is-outlined.is-loading:hover::after, .button.is-openid.is-outlined.is-loading.is-hovered::after, .button.is-openid.is-outlined.is-loading:focus::after, .button.is-openid.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-openid.is-outlined[disabled], fieldset[disabled] .button.is-openid.is-outlined {
  background-color: transparent;
  border-color: hsl(25, 85%, 55%);
  box-shadow: none;
  color: hsl(25, 85%, 55%);
}
.button.is-openid.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-openid.is-inverted.is-outlined:hover, .button.is-openid.is-inverted.is-outlined.is-hovered, .button.is-openid.is-inverted.is-outlined:focus, .button.is-openid.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(25, 85%, 55%);
}
.button.is-openid.is-inverted.is-outlined.is-loading:hover::after, .button.is-openid.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-openid.is-inverted.is-outlined.is-loading:focus::after, .button.is-openid.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(25, 85%, 55%) hsl(25, 85%, 55%) !important;
}
.button.is-openid.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-openid.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-openid.is-light {
  background-color: hsl(25, 85%, 96%);
  color: hsl(25, 85%, 37%);
}
.button.is-openid.is-light:hover, .button.is-openid.is-light.is-hovered {
  background-color: hsl(25, 85%, 93.5%);
  border-color: transparent;
  color: hsl(25, 85%, 37%);
}
.button.is-openid.is-light:active, .button.is-openid.is-light.is-active {
  background-color: hsl(25, 85%, 91%);
  border-color: transparent;
  color: hsl(25, 85%, 37%);
}
.button.is-openid.is-dark {
  background-color: hsl(25, 85%, 37%);
  color: #fff;
}
.button.is-openid.is-dark:hover, .button.is-openid.is-dark.is-hovered {
  background-color: hsl(25, 85%, 34.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-openid.is-dark:active, .button.is-openid.is-dark.is-active {
  background-color: hsl(25, 85%, 32%);
  border-color: transparent;
  color: #fff;
}

.has-text-openid {
  color: hsl(25, 85%, 55%) !important;
}

a.has-text-openid:hover, a.has-text-openid:focus {
  color: hsl(25, 85%, 45%) !important;
}

.has-background-openid {
  background-color: hsl(25, 85%, 55%) !important;
}

.has-text-openid-light {
  color: hsl(25, 85%, 96%) !important;
}

a.has-text-openid-light:hover, a.has-text-openid-light:focus {
  color: hsl(25, 85%, 86%) !important;
}

.has-background-openid-light {
  background-color: hsl(25, 85%, 96%) !important;
}

.has-text-openid-dark {
  color: hsl(25, 85%, 37%) !important;
}

a.has-text-openid-dark:hover, a.has-text-openid-dark:focus {
  color: hsl(25, 85%, 47%) !important;
}

.has-background-openid-dark {
  background-color: hsl(25, 85%, 37%) !important;
}

.no-animation {
  transition-property: none !important;
}