/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-vk {
  background-color: hsl(212, 42%, 52%);
  border-color: transparent;
  color: #fff;
}
.button.is-vk:hover, .button.is-vk.is-hovered {
  background-color: hsl(212, 42%, 49.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-vk:focus, .button.is-vk.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-vk:focus:not(:active), .button.is-vk.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(212, 42%, 52%, 0.25);
}
.button.is-vk:active, .button.is-vk.is-active {
  background-color: hsl(212, 42%, 47%);
  border-color: transparent;
  color: #fff;
}
.button.is-vk[disabled], fieldset[disabled] .button.is-vk {
  background-color: hsl(212, 42%, 52%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-vk.is-inverted {
  background-color: #fff;
  color: hsl(212, 42%, 52%);
}
.button.is-vk.is-inverted:hover, .button.is-vk.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-vk.is-inverted[disabled], fieldset[disabled] .button.is-vk.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(212, 42%, 52%);
}
.button.is-vk.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-vk.is-outlined {
  background-color: transparent;
  border-color: hsl(212, 42%, 52%);
  color: hsl(212, 42%, 52%);
}
.button.is-vk.is-outlined:hover, .button.is-vk.is-outlined.is-hovered, .button.is-vk.is-outlined:focus, .button.is-vk.is-outlined.is-focused {
  background-color: hsl(212, 42%, 52%);
  border-color: hsl(212, 42%, 52%);
  color: #fff;
}
.button.is-vk.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(212, 42%, 52%) hsl(212, 42%, 52%) !important;
}
.button.is-vk.is-outlined.is-loading:hover::after, .button.is-vk.is-outlined.is-loading.is-hovered::after, .button.is-vk.is-outlined.is-loading:focus::after, .button.is-vk.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-vk.is-outlined[disabled], fieldset[disabled] .button.is-vk.is-outlined {
  background-color: transparent;
  border-color: hsl(212, 42%, 52%);
  box-shadow: none;
  color: hsl(212, 42%, 52%);
}
.button.is-vk.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-vk.is-inverted.is-outlined:hover, .button.is-vk.is-inverted.is-outlined.is-hovered, .button.is-vk.is-inverted.is-outlined:focus, .button.is-vk.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(212, 42%, 52%);
}
.button.is-vk.is-inverted.is-outlined.is-loading:hover::after, .button.is-vk.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-vk.is-inverted.is-outlined.is-loading:focus::after, .button.is-vk.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(212, 42%, 52%) hsl(212, 42%, 52%) !important;
}
.button.is-vk.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-vk.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-vk.is-light {
  background-color: hsl(212, 42%, 96%);
  color: hsl(212, 42%, 43%);
}
.button.is-vk.is-light:hover, .button.is-vk.is-light.is-hovered {
  background-color: hsl(212, 42%, 93.5%);
  border-color: transparent;
  color: hsl(212, 42%, 43%);
}
.button.is-vk.is-light:active, .button.is-vk.is-light.is-active {
  background-color: hsl(212, 42%, 91%);
  border-color: transparent;
  color: hsl(212, 42%, 43%);
}
.button.is-vk.is-dark {
  background-color: hsl(212, 42%, 43%);
  color: #fff;
}
.button.is-vk.is-dark:hover, .button.is-vk.is-dark.is-hovered {
  background-color: hsl(212, 42%, 40.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-vk.is-dark:active, .button.is-vk.is-dark.is-active {
  background-color: hsl(212, 42%, 38%);
  border-color: transparent;
  color: #fff;
}

.has-text-vk {
  color: hsl(212, 42%, 52%) !important;
}

a.has-text-vk:hover, a.has-text-vk:focus {
  color: hsl(212, 42%, 42%) !important;
}

.has-background-vk {
  background-color: hsl(212, 42%, 52%) !important;
}

.has-text-vk-light {
  color: hsl(212, 42%, 96%) !important;
}

a.has-text-vk-light:hover, a.has-text-vk-light:focus {
  color: hsl(212, 42%, 86%) !important;
}

.has-background-vk-light {
  background-color: hsl(212, 42%, 96%) !important;
}

.has-text-vk-dark {
  color: hsl(212, 42%, 43%) !important;
}

a.has-text-vk-dark:hover, a.has-text-vk-dark:focus {
  color: hsl(212, 42%, 53%) !important;
}

.has-background-vk-dark {
  background-color: hsl(212, 42%, 43%) !important;
}

.no-animation {
  transition-property: none !important;
}