/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-slack {
  background-color: hsl(294, 54%, 27%);
  border-color: transparent;
  color: #fff;
}
.button.is-slack:hover, .button.is-slack.is-hovered {
  background-color: hsl(294, 54%, 24.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-slack:focus, .button.is-slack.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-slack:focus:not(:active), .button.is-slack.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(294, 54%, 27%, 0.25);
}
.button.is-slack:active, .button.is-slack.is-active {
  background-color: hsl(294, 54%, 22%);
  border-color: transparent;
  color: #fff;
}
.button.is-slack[disabled], fieldset[disabled] .button.is-slack {
  background-color: hsl(294, 54%, 27%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-slack.is-inverted {
  background-color: #fff;
  color: hsl(294, 54%, 27%);
}
.button.is-slack.is-inverted:hover, .button.is-slack.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-slack.is-inverted[disabled], fieldset[disabled] .button.is-slack.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(294, 54%, 27%);
}
.button.is-slack.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-slack.is-outlined {
  background-color: transparent;
  border-color: hsl(294, 54%, 27%);
  color: hsl(294, 54%, 27%);
}
.button.is-slack.is-outlined:hover, .button.is-slack.is-outlined.is-hovered, .button.is-slack.is-outlined:focus, .button.is-slack.is-outlined.is-focused {
  background-color: hsl(294, 54%, 27%);
  border-color: hsl(294, 54%, 27%);
  color: #fff;
}
.button.is-slack.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(294, 54%, 27%) hsl(294, 54%, 27%) !important;
}
.button.is-slack.is-outlined.is-loading:hover::after, .button.is-slack.is-outlined.is-loading.is-hovered::after, .button.is-slack.is-outlined.is-loading:focus::after, .button.is-slack.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-slack.is-outlined[disabled], fieldset[disabled] .button.is-slack.is-outlined {
  background-color: transparent;
  border-color: hsl(294, 54%, 27%);
  box-shadow: none;
  color: hsl(294, 54%, 27%);
}
.button.is-slack.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-slack.is-inverted.is-outlined:hover, .button.is-slack.is-inverted.is-outlined.is-hovered, .button.is-slack.is-inverted.is-outlined:focus, .button.is-slack.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(294, 54%, 27%);
}
.button.is-slack.is-inverted.is-outlined.is-loading:hover::after, .button.is-slack.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-slack.is-inverted.is-outlined.is-loading:focus::after, .button.is-slack.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(294, 54%, 27%) hsl(294, 54%, 27%) !important;
}
.button.is-slack.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-slack.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-slack.is-light {
  background-color: hsl(294, 54%, 96%);
  color: hsl(294, 54%, 27%);
}
.button.is-slack.is-light:hover, .button.is-slack.is-light.is-hovered {
  background-color: hsl(294, 54%, 93.5%);
  border-color: transparent;
  color: hsl(294, 54%, 27%);
}
.button.is-slack.is-light:active, .button.is-slack.is-light.is-active {
  background-color: hsl(294, 54%, 91%);
  border-color: transparent;
  color: hsl(294, 54%, 27%);
}
.button.is-slack.is-dark {
  background-color: hsl(294, 54%, 27%);
  color: #fff;
}
.button.is-slack.is-dark:hover, .button.is-slack.is-dark.is-hovered {
  background-color: hsl(294, 54%, 24.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-slack.is-dark:active, .button.is-slack.is-dark.is-active {
  background-color: hsl(294, 54%, 22%);
  border-color: transparent;
  color: #fff;
}

.has-text-slack {
  color: hsl(294, 54%, 27%) !important;
}

a.has-text-slack:hover, a.has-text-slack:focus {
  color: hsl(294, 54%, 17%) !important;
}

.has-background-slack {
  background-color: hsl(294, 54%, 27%) !important;
}

.has-text-slack-light {
  color: hsl(294, 54%, 96%) !important;
}

a.has-text-slack-light:hover, a.has-text-slack-light:focus {
  color: hsl(294, 54%, 86%) !important;
}

.has-background-slack-light {
  background-color: hsl(294, 54%, 96%) !important;
}

.has-text-slack-dark {
  color: hsl(294, 54%, 27%) !important;
}

a.has-text-slack-dark:hover, a.has-text-slack-dark:focus {
  color: hsl(294, 54%, 37%) !important;
}

.has-background-slack-dark {
  background-color: hsl(294, 54%, 27%) !important;
}

.no-animation {
  transition-property: none !important;
}