/*! bulma-social v3.0.1 | MIT License | github.com/aldi/bulma-social */

.button.is-discord {
  background-color: hsl(226.7, 58.4%, 65.1%);
  border-color: transparent;
  color: #fff;
}
.button.is-discord:hover, .button.is-discord.is-hovered {
  background-color: hsl(226.7, 58.4%, 62.6%);
  border-color: transparent;
  color: #fff;
}
.button.is-discord:focus, .button.is-discord.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-discord:focus:not(:active), .button.is-discord.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(226.7, 58.4%, 65.1%, 0.25);
}
.button.is-discord:active, .button.is-discord.is-active {
  background-color: hsl(226.7, 58.4%, 60.1%);
  border-color: transparent;
  color: #fff;
}
.button.is-discord[disabled], fieldset[disabled] .button.is-discord {
  background-color: hsl(226.7, 58.4%, 65.1%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-discord.is-inverted {
  background-color: #fff;
  color: hsl(226.7, 58.4%, 65.1%);
}
.button.is-discord.is-inverted:hover, .button.is-discord.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-discord.is-inverted[disabled], fieldset[disabled] .button.is-discord.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(226.7, 58.4%, 65.1%);
}
.button.is-discord.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-discord.is-outlined {
  background-color: transparent;
  border-color: hsl(226.7, 58.4%, 65.1%);
  color: hsl(226.7, 58.4%, 65.1%);
}
.button.is-discord.is-outlined:hover, .button.is-discord.is-outlined.is-hovered, .button.is-discord.is-outlined:focus, .button.is-discord.is-outlined.is-focused {
  background-color: hsl(226.7, 58.4%, 65.1%);
  border-color: hsl(226.7, 58.4%, 65.1%);
  color: #fff;
}
.button.is-discord.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(226.7, 58.4%, 65.1%) hsl(226.7, 58.4%, 65.1%) !important;
}
.button.is-discord.is-outlined.is-loading:hover::after, .button.is-discord.is-outlined.is-loading.is-hovered::after, .button.is-discord.is-outlined.is-loading:focus::after, .button.is-discord.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-discord.is-outlined[disabled], fieldset[disabled] .button.is-discord.is-outlined {
  background-color: transparent;
  border-color: hsl(226.7, 58.4%, 65.1%);
  box-shadow: none;
  color: hsl(226.7, 58.4%, 65.1%);
}
.button.is-discord.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-discord.is-inverted.is-outlined:hover, .button.is-discord.is-inverted.is-outlined.is-hovered, .button.is-discord.is-inverted.is-outlined:focus, .button.is-discord.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(226.7, 58.4%, 65.1%);
}
.button.is-discord.is-inverted.is-outlined.is-loading:hover::after, .button.is-discord.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-discord.is-inverted.is-outlined.is-loading:focus::after, .button.is-discord.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(226.7, 58.4%, 65.1%) hsl(226.7, 58.4%, 65.1%) !important;
}
.button.is-discord.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-discord.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-discord.is-light {
  background-color: hsl(226.7, 58.4%, 96%);
  color: hsl(226.7, 58.4%, 40%);
}
.button.is-discord.is-light:hover, .button.is-discord.is-light.is-hovered {
  background-color: hsl(226.7, 58.4%, 93.5%);
  border-color: transparent;
  color: hsl(226.7, 58.4%, 40%);
}
.button.is-discord.is-light:active, .button.is-discord.is-light.is-active {
  background-color: hsl(226.7, 58.4%, 91%);
  border-color: transparent;
  color: hsl(226.7, 58.4%, 40%);
}
.button.is-discord.is-dark {
  background-color: hsl(226.7, 58.4%, 40%);
  color: #fff;
}
.button.is-discord.is-dark:hover, .button.is-discord.is-dark.is-hovered {
  background-color: hsl(226.7, 58.4%, 37.5%);
  border-color: transparent;
  color: #fff;
}
.button.is-discord.is-dark:active, .button.is-discord.is-dark.is-active {
  background-color: hsl(226.7, 58.4%, 35%);
  border-color: transparent;
  color: #fff;
}

.has-text-discord {
  color: hsl(226.7, 58.4%, 65.1%) !important;
}

a.has-text-discord:hover, a.has-text-discord:focus {
  color: hsl(226.7, 58.4%, 55.1%) !important;
}

.has-background-discord {
  background-color: hsl(226.7, 58.4%, 65.1%) !important;
}

.has-text-discord-light {
  color: hsl(226.7, 58.4%, 96%) !important;
}

a.has-text-discord-light:hover, a.has-text-discord-light:focus {
  color: hsl(226.7, 58.4%, 86%) !important;
}

.has-background-discord-light {
  background-color: hsl(226.7, 58.4%, 96%) !important;
}

.has-text-discord-dark {
  color: hsl(226.7, 58.4%, 40%) !important;
}

a.has-text-discord-dark:hover, a.has-text-discord-dark:focus {
  color: hsl(226.7, 58.4%, 50%) !important;
}

.has-background-discord-dark {
  background-color: hsl(226.7, 58.4%, 40%) !important;
}

.no-animation {
  transition-property: none !important;
}