/*! bulma-social v2.1.0 | MIT License | github.com/aldi/bulma-social */
.button {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
       -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.no-animation {
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.button.is-microsoft {
  background-color: #0067b8;
  border-color: transparent;
  color: #fff;
}

.button.is-microsoft:hover, .button.is-microsoft.is-hovered {
  background-color: #0060ab;
  border-color: transparent;
  color: #fff;
}

.button.is-microsoft:focus, .button.is-microsoft.is-focused {
  border-color: transparent;
  color: #fff;
}

.button.is-microsoft:focus:not(:active), .button.is-microsoft.is-focused:not(:active) {
  -webkit-box-shadow: 0 0 0 0.125em rgba(0, 103, 184, 0.25);
          box-shadow: 0 0 0 0.125em rgba(0, 103, 184, 0.25);
}

.button.is-microsoft:active, .button.is-microsoft.is-active {
  background-color: #00599f;
  border-color: transparent;
  color: #fff;
}

.button.is-microsoft[disabled],
fieldset[disabled] .button.is-microsoft {
  background-color: #0067b8;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button.is-microsoft.is-inverted {
  background-color: #fff;
  color: #0067b8;
}

.button.is-microsoft.is-inverted:hover, .button.is-microsoft.is-inverted.is-hovered {
  background-color: #f2f2f2;
}

.button.is-microsoft.is-inverted[disabled],
fieldset[disabled] .button.is-microsoft.is-inverted {
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #0067b8;
}

.button.is-microsoft.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-microsoft.is-outlined {
  background-color: transparent;
  border-color: #0067b8;
  color: #0067b8;
}

.button.is-microsoft.is-outlined:hover, .button.is-microsoft.is-outlined.is-hovered, .button.is-microsoft.is-outlined:focus, .button.is-microsoft.is-outlined.is-focused {
  background-color: #0067b8;
  border-color: #0067b8;
  color: #fff;
}

.button.is-microsoft.is-outlined.is-loading::after {
  border-color: transparent transparent #0067b8 #0067b8 !important;
}

.button.is-microsoft.is-outlined.is-loading:hover::after, .button.is-microsoft.is-outlined.is-loading.is-hovered::after, .button.is-microsoft.is-outlined.is-loading:focus::after, .button.is-microsoft.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}

.button.is-microsoft.is-outlined[disabled],
fieldset[disabled] .button.is-microsoft.is-outlined {
  background-color: transparent;
  border-color: #0067b8;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #0067b8;
}

.button.is-microsoft.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button.is-microsoft.is-inverted.is-outlined:hover, .button.is-microsoft.is-inverted.is-outlined.is-hovered, .button.is-microsoft.is-inverted.is-outlined:focus, .button.is-microsoft.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: #0067b8;
}

.button.is-microsoft.is-inverted.is-outlined.is-loading:hover::after, .button.is-microsoft.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-microsoft.is-inverted.is-outlined.is-loading:focus::after, .button.is-microsoft.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #0067b8 #0067b8 !important;
}

.button.is-microsoft.is-inverted.is-outlined[disabled],
fieldset[disabled] .button.is-microsoft.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.button.is-microsoft.is-light {
  background-color: #ebf6ff;
  color: #0089f5;
}

.button.is-microsoft.is-light:hover, .button.is-microsoft.is-light.is-hovered {
  background-color: #def0ff;
  border-color: transparent;
  color: #0089f5;
}

.button.is-microsoft.is-light:active, .button.is-microsoft.is-light.is-active {
  background-color: #d1ebff;
  border-color: transparent;
  color: #0089f5;
}

.button.is-static {
  background-color: whitesmoke;
  border-color: #dbdbdb;
  color: #7a7a7a;
  -webkit-box-shadow: none;
          box-shadow: none;
  pointer-events: none;
}

.has-text-microsoft {
  color: #0067b8 !important;
}

a.has-text-microsoft:hover, a.has-text-microsoft:focus {
  color: #004b85 !important;
}

.has-background-microsoft {
  background-color: #0067b8 !important;
}

.has-text-microsoft-light {
  color: #ebf6ff !important;
}

a.has-text-microsoft-light:hover, a.has-text-microsoft-light:focus {
  color: #b8e0ff !important;
}

.has-background-microsoft-light {
  background-color: #ebf6ff !important;
}

.has-text-microsoft-dark {
  color: #0089f5 !important;
}

a.has-text-microsoft-dark:hover, a.has-text-microsoft-dark:focus {
  color: #29a1ff !important;
}

.has-background-microsoft-dark {
  background-color: #0089f5 !important;
}
