/*! bulma-social v3.0.0 | MIT License | github.com/aldi/bulma-social */

.button.is-microsoft {
  background-color: hsl(206.4, 100%, 36.1%);
  border-color: transparent;
  color: #fff;
}
.button.is-microsoft:hover, .button.is-microsoft.is-hovered {
  background-color: hsl(206.4, 100%, 33.6%);
  border-color: transparent;
  color: #fff;
}
.button.is-microsoft:focus, .button.is-microsoft.is-focused {
  border-color: transparent;
  color: #fff;
}
.button.is-microsoft:focus:not(:active), .button.is-microsoft.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em hsla(206.4, 100%, 36.1%, 0.25);
}
.button.is-microsoft:active, .button.is-microsoft.is-active {
  background-color: hsl(206.4, 100%, 31.1%);
  border-color: transparent;
  color: #fff;
}
.button.is-microsoft[disabled], fieldset[disabled] .button.is-microsoft {
  background-color: hsl(206.4, 100%, 36.1%);
  border-color: transparent;
  box-shadow: none;
}
.button.is-microsoft.is-inverted {
  background-color: #fff;
  color: hsl(206.4, 100%, 36.1%);
}
.button.is-microsoft.is-inverted:hover, .button.is-microsoft.is-inverted.is-hovered {
  background-color: rgb(242.25, 242.25, 242.25);
}
.button.is-microsoft.is-inverted[disabled], fieldset[disabled] .button.is-microsoft.is-inverted {
  background-color: #fff;
  border-color: transparent;
  box-shadow: none;
  color: hsl(206.4, 100%, 36.1%);
}
.button.is-microsoft.is-loading::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-microsoft.is-outlined {
  background-color: transparent;
  border-color: hsl(206.4, 100%, 36.1%);
  color: hsl(206.4, 100%, 36.1%);
}
.button.is-microsoft.is-outlined:hover, .button.is-microsoft.is-outlined.is-hovered, .button.is-microsoft.is-outlined:focus, .button.is-microsoft.is-outlined.is-focused {
  background-color: hsl(206.4, 100%, 36.1%);
  border-color: hsl(206.4, 100%, 36.1%);
  color: #fff;
}
.button.is-microsoft.is-outlined.is-loading::after {
  border-color: transparent transparent hsl(206.4, 100%, 36.1%) hsl(206.4, 100%, 36.1%) !important;
}
.button.is-microsoft.is-outlined.is-loading:hover::after, .button.is-microsoft.is-outlined.is-loading.is-hovered::after, .button.is-microsoft.is-outlined.is-loading:focus::after, .button.is-microsoft.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent #fff #fff !important;
}
.button.is-microsoft.is-outlined[disabled], fieldset[disabled] .button.is-microsoft.is-outlined {
  background-color: transparent;
  border-color: hsl(206.4, 100%, 36.1%);
  box-shadow: none;
  color: hsl(206.4, 100%, 36.1%);
}
.button.is-microsoft.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.button.is-microsoft.is-inverted.is-outlined:hover, .button.is-microsoft.is-inverted.is-outlined.is-hovered, .button.is-microsoft.is-inverted.is-outlined:focus, .button.is-microsoft.is-inverted.is-outlined.is-focused {
  background-color: #fff;
  color: hsl(206.4, 100%, 36.1%);
}
.button.is-microsoft.is-inverted.is-outlined.is-loading:hover::after, .button.is-microsoft.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-microsoft.is-inverted.is-outlined.is-loading:focus::after, .button.is-microsoft.is-inverted.is-outlined.is-loading.is-focused::after {
  border-color: transparent transparent hsl(206.4, 100%, 36.1%) hsl(206.4, 100%, 36.1%) !important;
}
.button.is-microsoft.is-inverted.is-outlined[disabled], fieldset[disabled] .button.is-microsoft.is-inverted.is-outlined {
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  color: #fff;
}
.button.is-microsoft.is-light {
  background-color: hsl(206.4, 100%, 96%);
  color: hsl(206.4, 100%, 36.1%);
}
.button.is-microsoft.is-light:hover, .button.is-microsoft.is-light.is-hovered {
  background-color: hsl(206.4, 100%, 93.5%);
  border-color: transparent;
  color: hsl(206.4, 100%, 36.1%);
}
.button.is-microsoft.is-light:active, .button.is-microsoft.is-light.is-active {
  background-color: hsl(206.4, 100%, 91%);
  border-color: transparent;
  color: hsl(206.4, 100%, 36.1%);
}
.button.is-microsoft.is-dark {
  background-color: hsl(206.4, 100%, 36.1%);
  color: #fff;
}
.button.is-microsoft.is-dark:hover, .button.is-microsoft.is-dark.is-hovered {
  background-color: hsl(206.4, 100%, 33.6%);
  border-color: transparent;
  color: #fff;
}
.button.is-microsoft.is-dark:active, .button.is-microsoft.is-dark.is-active {
  background-color: hsl(206.4, 100%, 31.1%);
  border-color: transparent;
  color: #fff;
}

.has-text-microsoft {
  color: hsl(206.4, 100%, 36.1%) !important;
}

a.has-text-microsoft:hover, a.has-text-microsoft:focus {
  color: hsl(206.4, 100%, 26.1%) !important;
}

.has-background-microsoft {
  background-color: hsl(206.4, 100%, 36.1%) !important;
}

.has-text-microsoft-light {
  color: hsl(206.4, 100%, 96%) !important;
}

a.has-text-microsoft-light:hover, a.has-text-microsoft-light:focus {
  color: hsl(206.4, 100%, 86%) !important;
}

.has-background-microsoft-light {
  background-color: hsl(206.4, 100%, 96%) !important;
}

.has-text-microsoft-dark {
  color: hsl(206.4, 100%, 36.1%) !important;
}

a.has-text-microsoft-dark:hover, a.has-text-microsoft-dark:focus {
  color: hsl(206.4, 100%, 46.1%) !important;
}

.has-background-microsoft-dark {
  background-color: hsl(206.4, 100%, 36.1%) !important;
}

.no-animation {
  transition-property: none !important;
}